.button {
    background-color: #0a84ff;
    color: #fff;
}
.toggle-button {
    padding: 2px;
    background-color: #0a84ff;
    color: #fff;
    font-size: smaller;
    cursor: pointer;
}

#multiple-ei-warning {
    margin: 5px 0;
}
