{% extends "layout.html" %}
{% block body %}
{% for book in books %}
<div class="book-page-container">
<div class="row">
	<div class="row" style="margin-bottom:0.5em;">
		<div class="book-title">{{ book.title }}</div>
		<hr>
	</div>
	<div class="col-md-3">
		<img alt="{{ book.title }}" class="book-page-image img-responsive" src={{ url_for('main.thumb_static', filename=book.id) }}>
	</div>
	<div class="cold-md-6">
		<div class="choose-book-info-container" style="border-spacing: 3px;">
			<div class="book-line">
			<div class="book-info">Title</div>
			<div class="book-data" id="Title">
				{{ book.title }}
			</div>
			</div>
		</div> {# book-info-container #}
	</div>
</div> {# row #}
</div> {# book-page-container #}
{% endfor %}
{% endblock %}
