{% extends "book.html" %}
{% block head %}
{{ super() }}
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='selectize.bootstrap3.css') }}" />
<script type="text/javascript" src="{{ url_for('static', filename='selectize.min.js') }}"></script>
{% endblock %}
{% block book_info %}
<section class="section">
<div class="container block">
    <div class="columns">
        <div class="column is-two-fifths">
            <figure class="image">
                <img id="book-cover" alt="{{ book.title }}" 
                {% if book.id is not none %}
                    src={{ url_for('main.thumb_static', filename=book.id) }}
                {% else %}
                    src={{ url_for('static', filename='no-image.png') if not cover_uploaded else
                           url_for('main.thumb_static', filename='temp_cover') }}
                {% endif %}
                >
            </figure>
            <form id=upload-cover action="{{ url_for('main.upload_cover', book_id=book.id if book.id else 0) }}" method=post enctype=multipart/form-data style="margin-top:1em;">
                <div class="field has-addons">
                    <div class="control">
                        <div class="file is-light is-small has-name">
                            <label class="file-label">
                                <input id="cover-file" class="file-input" type="file" name="file" required>
                                <span class="file-cta">
                                    <span class="file-icon">
                                        <i class="fas fa-folder-open"></i>
                                    </span>
                                    <!-- <span class="file-label"> -->
                                    <!--     Browse -->
                                    <!-- </span> -->
                                </span>
                                <span class="file-name">
                                    No file chosen...
                                </span>
                            </label>
                        </div>
                    </div>
                    <div class="control">
                        <button type="submit" class="button is-small is-primary">
                            <span class="icon">
                                <i class="fas fa-upload"></i>
                            </span>
                            <span>Upload Cover</span>
                        </button>
                    </div>
                </div>
                <div class="field">
                    <p class="help">Maximum file size is 512 KB</p>
                    <p class="help">Note: Optimal width is 400px and optimal aspect ratio is 5:7</p>
                    <p class="help block">
                    Image won't be cropped but if it differs too much from an aspect ratio of 5:7 it will
                    look distorted when displayed as thumbnail!
                    </p>
                    <p class="has-text-warning">
                    New cover will only be changed if the 'Save' button is pressed!
                    </p>
                    {{ csrf_token_field() }}
                </div>
            </form>
<script>
$(document).ready(function() {
    // update file name change manually since we're not using the default one
    const fileInput = document.querySelector('#cover-file');
    fileInput.onchange = () => {
        if (fileInput.files.length > 0) {
            const fileName = document.querySelector('#upload-cover .file-name');
            fileName.textContent = fileInput.files[0].name;
        }
    }

    $("#upload-cover").submit(function(event) {
        event.preventDefault();
        //grab all form data  
        // With XHR2, File upload through AJAX is supported. E.g. through FormData object
        var form_data = new FormData(this);//.serialize();
        // add files of input type file to form_data
        form_data.append('file', $('#cover-file')[0].files[0]);

        $.ajax({
               // whole mistake was forgetting " around url
               url: "{{ url_for('main.upload_cover', book_id=book.id if book.id else 0) }}",
               type: 'POST',
               data: form_data,
               // Tell jQuery not to process data or worry about content-type
               // You *must* include these options!
               cache: false,
               contentType: false,
               processData: false,
               // response type
               dataType: "json"
        }).done(function(data) {
            if (data.error) {
                console.log(data.error);
            }
            else {
                // browser caches img and if url doesnt change new img wont be displayed
                // circumvent that by adding a variable to the img url
                $("#book-cover").attr("src",
                    data.cover_path + "?timestamp=" + new Date().getTime());
                // arrow func doesn't have "this" ref
                let cover_uploaded = $("#cover_uploaded");

                if (!cover_uploaded.length)
                {
                    $("#edit-book-form, #add-book-form").prepend(
                        "<input type='hidden' id='cover_uploaded' name='cover_uploaded' value='1' />");
                }
           }
        });
        // to prevent default also
        return false;

    });
});
</script>
        </div>
        <div class="column is-three-fifths">
            <div class="mb-3">
                <h1 class="title is-3">{{ book.title if book.title else 'New Book' }}</h1>
                {% if book.title_foreign %}
                <h2 style="color: #919191;" class="subtitle is-5">
                    {{ book.title_foreign }}
                </h2>
                {% endif %}
            </div>
            {% if book.id is not none %}
            <form id=edit-book-form action={{ url_for('main.edit_book', book_id=book.id) }} method=post style="min-width:100%;width:100%;">
            {% else %}
            <form id=add-book-form action={{ url_for('main.add_book') }} method=post style="min-width:100%;width:100%;">
            {% if cover_uploaded %}
            <input type='hidden' id='cover_uploaded' name='cover_uploaded' value='1' />
            {% endif %}
            {% if extr_data %}
            <input type='hidden' id='extr_data_json' name='extr_data_json' value="{{ extr_data }}" />
            {% endif %}
            {% endif %}
            {{ csrf_token_field() }}
            <table class="book-info-table has-one-fullwidth-td book-info-container">
                <tbody>
                    <tr>
                        <th>English Title</th>
                        <td id="EnglishTitle">
                            <input type="text" class="selectize-input" name="title_eng" id="EnglishTitleInp"
                            {% if book.title_eng %}
                            value="{{ book.title_eng }}"
                            {% endif %}
                            />
                        </td>
                    </tr>
                    <tr>
                        <th>Foreign Title</th>
                        <td id="ForeignTitle">
                            <input type="text" class="selectize-input" name="title_foreign" id="ForeignTitleInp"
                            {% if book.title_foreign %}
                            value="{{ book.title_foreign }}"
                            {% endif %}
                            />
                        </td>
                    </tr>
                    <tr>
                        <th>Pages</th>
                        <td id="Pages">
                            <input required type="text" class="selectize-input" name="pages" id="PagesInp"
                            placeholder="Number of pages as a whole number"
                            {% if book.pages is not none %}
                            value="{{ book.pages }}"
                            {% endif %}
                            />
                        </td>
                    </tr>
                    <tr>
                        <th>Reading Status</th>
                        <td id="ReadingStatus">
                            <input type="text" class="selectize-input" name="read_status" id="ReadingStatusInp"
                            placeholder="0 == finished reading, empty == not read!"
                            {% if book.read_status is not none %}
                            value="{{ book.read_status }}"
                            {% endif %}
                            />
                        </td>
                    </tr>
                    <tr>
                        <th>Status</th>
                        <td id="Status">
                            <select required name="status_id" class="selectized select-single" placeholder="Select the publishing status...">
                                <option value="">Select the publishing status...</option>
                                {% for _id, name in available_options['status'] %}
                                <option value="{{ _id }}" {{'selected' if book.status_id == _id else ''}}>{{ name }}</option>
                                {% endfor %}
                            </select>
                            </td>
                    </tr>
                    <tr>
                        <th>My Rating</th>
                        <td id="MyRating">
                            <input type="text" class="selectize-input" id="MyRatingInp" name="my_rating" value="{{ book.my_rating|float() if book.my_rating else '' }}" placeholder="Decimal rating from 0-5.0">
                            </td>
                    </tr>
                    <tr>
                        <th>Language</th>
                        <td id="Language">
                            <select required name="language_id" class="selectized select-single-create" placeholder="Select the book's language...">
                                <option value="">Select the book's language...</option>
                                {% for _id, name in available_options['language'] %}
                                <option value="{{ _id }}" {{'selected' if book.language_id == _id else ''}}>{{ name }}</option>
                                {% endfor %}
                            </select>
                            </td>
                    </tr>
                    <tr>
                        <th>Category</th>
                        <td id="Category">
                            <select multiple name="category" multiple class="selectized select-multiple-create" placeholder="Add categories, delimiter is ';'">
                                <option value="">Add categories, delimiter is ';'</option>
                                {# big mistake before only iterated over available options which meant that if that option wasnt already used in the db it wouldnt be shown when importing the book from an extractor #}
                                {# @Hack since available options is a 2-tuple of id, name and the lists on the book are just the names we have to select the correct item of the tuple or leave the string #}
                                {% for item in available_options['category'] + book.category %}
                                {%  set name = item if item is string else item[1] %}
                                <option value="{{ name }}" {{'selected' if name in book.category else ''}}>{{ name }}</option>
                                {% endfor %}
                            </select>
                        </td>
                    </tr>
                    <tr>
                        <th>Collection</th>
                        <td id="Collection">
                            <select multiple name="collection" class="selectized select-multiple-create" placeholder="Add collections, delimiter is ';'">
                                <option value="">Add collections, delimiter is ';'</option>
                                {% for item in available_options['collection'] + book.collection %}
                                {%  set name = item if item is string else item[1] %}
                                <option value="{{ name }}" {{'selected' if name in book.collection else ''}}>{{ name }}</option>
                                {% endfor %}
                            </select>
                        </td>
                    </tr>
                    <tr>
                        <th>Group</th>
                        <td id="Group">
                            <select multiple name="groups" class="selectized select-multiple-create" placeholder="Add groups, delimiter is ';'">
                                <option value="">Add groups, delimiter is ';'</option>
                                {% for item in available_options['groups'] + book.groups %}
                                {%  set name = item if item is string else item[1] %}
                                <option value="{{ name }}" {{'selected' if name in book.groups else ''}}>{{ name }}</option>
                                {% endfor %}
                            </select>
                        </td>
                    </tr>
                    <tr>
                        <th>Artist</th>
                        <td id="Artist">
                            <select multiple name="artist" class="selectized select-multiple-create" placeholder="Add artists, delimiter is ';'">
                                <option value="">Add artists, delimiter is ';'</option>
                                {% for item in available_options['artist'] + book.artist %}
                                {%  set name = item if item is string else item[1] %}
                                <option value="{{ name }}" {{'selected' if name in book.artist else ''}}>{{ name }}</option>
                                {% endfor %}
                            </select>
                        </td>
                    </tr>
                    <tr>
                        <th>Parody</th>
                        <td id="Parody">
                            <select multiple name="parody" class="selectized select-multiple-create" placeholder="Add parodies, delimiter is ';'">
                                <option value="">Add parodies, delimiter is ';'</option>
                                {% for item in available_options['parody'] + book.parody %}
                                {%  set name = item if item is string else item[1] %}
                                <option value="{{ name }}" {{'selected' if name in book.parody else ''}}>{{ name }}</option>
                                {% endfor %}
                            </select>
                        </td>
                    </tr>
                    <tr>
                        <th>Character</th>
                        <td id="Character">
                            <select multiple  name="character" class="selectized select-multiple-create" placeholder="Add characters, delimiter is ';'">
                                <option value="">Add characters, delimiter is ';'</option>
                                {% for item in available_options['character'] + book.character %}
                                {%  set name = item if item is string else item[1] %}
                                <option value="{{ name }}" {{'selected' if name in book.character else ''}}>{{ name }}</option>
                                {% endfor %}
                            </select>
                        </td>
                    </tr>
                    <tr>
                        <th>Tag</th>
                        <td id="Tag">
                            <select multiple name="tag" class="selectized select-multiple-create" placeholder="Add tags, delimiter is ';'">
                                <option value="">Add tags, delimiter is ';'</option>
                                {% for name in (available_options['tag'] + book.tag)|sort() %}
                                <option value="{{ name }}" {{'selected' if name in book.tag else ''}}>{{ name }}</option>
                                {% endfor %}
                            </select>
                        </td>
                    </tr>
                    <tr>
                        <th>List</th>
                        <td id="List">
                            <select multiple name="list" class="selectized select-multiple-create" placeholder="Add lists, delimiter is ';'">
                                <option value="">Add lists, delimiter is ';'</option>
                                {# can only be on book if its also in available options unless we support importing lists from external websites like e.g. tsumino #}
                                {% for _, name in available_options['list'] %}
                                <option value="{{ name }}" {{'selected' if name in book.list else ''}}>{{ name }}</option>
                                {% endfor %}
                            </select>
                        </td>
                    </tr>
                    <tr>
                        <th>Note</th>
                        <td id="Note">
                            {# only supposed to be a small note so no textarea(multi-line) field #}
                            <input type="text" class="selectize-input" name="note" id="Note" value="{{ book.note if book.note else '' }}">
                            {# <textarea name="note" id="Note" cols="40" rows="5">{{ book.note if book.note else '' }}</textarea> #}
                        </td>
                    </tr>
                    <tr>
                        <th></th>
                        <td id="">
                            <div class="buttons">
                                <button type="submit" id="updateBtn"
                                    class="button green-color">
                                    <span class="icon">
                                        <i class="fas fa-check"></i>
                                    </span>
                                    <span>Save</span>
                                </button>
<script>
$(document).ready(function() {
    $("#updateBtn").click(function(event) {
        let title_eng = $("#EnglishTitleInp").val();
        let title_foreign = $("#ForeignTitleInp").val();
        let page_val = $("#PagesInp").val();
        console.log(page_val);
        let read_status = $.trim($("#ReadingStatusInp").val());
        let my_rating = $("#MyRatingInp").val();
        let nr = parseFloat(my_rating);

        if (!title_eng && !title_foreign) {
            alert("Either english or foreign title have to be supplied!");
            event.preventDefault();
            return false;
        } else if (!Number.isInteger(+page_val)) {
            // The value of the input element is returned, revert it into a number using + sign
            // could also use modulo
            alert("Pages is not a whole number!");
            event.preventDefault();
            return false;
        } else if (read_status != "" && !Number.isInteger(+read_status)) {
            alert("Reading status needs to be whole number!");
            event.preventDefault();
            return false;
        } else if (Number.isNaN(+my_rating)) {
            alert("My Rating is not a number!");
            event.preventDefault();
            return false;
        } else if (nr < 0 || nr > 5) {
            alert("My Rating has to be a number from 0 to 5!");
            event.preventDefault();
            return false;
        } else {
            return true;
        }
    });
});
</script>
                                <a id="cancel-change-book"
                                    href={{ url_for('main.show_entries') if not book.id else
                                            url_for('main.show_info', book_id=book.id) }}
                                    class="button red-color">
                                    <span class="icon">
                                        <i class="fas fa-ban"></i>
                                    </span>
                                    <span>Cancel<span>
                                </a>
                            </div>
<script type="text/javascript">
$(document).ready(function() {
    $("#cancel-change-book").click(function(event) {
        event.preventDefault();
        let req_url = "{{ url_for('main.cancel_add_book') }}";
        let redirect_url = event.currentTarget.href;
        let redirect_func = function() {
                                // location.href = "..." would work like a link -> saved
                                // in history etc.
                                // location.replace() just replaces the current doc
                                window.location.href = redirect_url;
                            }
        let cover_uploaded = $('#cover_uploaded');

        let data = "";
        if (cover_uploaded.length) {
            data = cover_uploaded.val();
        } else {
            data = "";
        }

        // $.post(url, data, success, dataType) usees default contentType:
        // 'application/x-www-form-urlencoded; charset=UTF-8'
        $.ajax({
            type: "POST",
            url: req_url,
            contentType: "text/plain; charset=UTF-8",
            data: data,
            success: redirect_func,
            // type were expecting back
            // if none is specified, jQuery will try to infer it based on the MIME type
            dataType: null
        });
    // to also prevent default
    return false;
    });
});
</script>
                        </td>
                    </tr>
                </tbody>
            </table>
            </form>
        </div> {# column #}
    </div> {# columns #}
</div> {# container #}
</section>
<script>
$('.select-single').selectize({
	create: false,
	sortField: {
		field: 'text',
		direction: 'asc'
	},
	dropdownParent: 'body'
});
$('.select-single-create').selectize({
	create: true,
	sortField: {
		field: 'text',
		direction: 'asc'
	},
	dropdownParent: 'body'
});
$('.select-multiple-create').selectize({
    plugins: ['remove_button'],
    delimiter: ';',
    create: true,
    persist: false,
    selectOnTab: true,
    create: function(input) {
	return {
	    value: input,
	    text: input
	}
    }
});
</script>
{% endblock %}
