{% extends "book.html" %}
{% block book_info %}
<div class="row row-no-margin">
<div class="book-page-cover col-md-2 col-sm-12 col-no-padding">
{% if book.id is not none %}
	<img alt="{{ book.title }}" class="book-page-image
	img-responsive" src={{ url_for('thumb_static',
	filename=book.id) }}>
{% else %}
	<img alt="{{ book.title }}" class="book-page-image img-responsive"
		src={{ url_for('static', filename='no-image.png') if not cover_temp_name else
        url_for('thumb_static', filename=cover_temp_name) }}>
{% endif %}
<form id=upload-cover action="{{ url_for('upload_cover', book_id=book.id if book.id else 0) }}" method=post enctype=multipart/form-data style="margin-top:1em;">
      <input id=cover-file type=file name=file style="background-color:#333;" required />
      <input type=submit value="Upload Cover" style="margin:0.5em 0;background-color:#333;" />
      <br/>Note: Otimal width is 400px and optimal aspect ratio is 5:7
      <br/>Image won't be cropped but if it differs too much from an aspect ratio of 5:7 it will
      look distorted when displayed as thumbnail!
</form>
<script>
$(document).ready(function() {
    $("#upload-cover").submit(function(event) {
        event.preventDefault();
        //grab all form data  
        // With XHR2, File upload through AJAX is supported. E.g. through FormData object
        var form_data = new FormData($(this));//.serialize();
        // add files of input type file to form_data
        form_data.append('file', $('#cover-file')[0].files[0]);

        let hidden_temp = $('#cover_temp_name');
        // check if another cover was uploaded b4
        if (hidden_temp.length) {
            // hidden_temp.get() (like [0]) gets the DOM element, if you want a jQuery object
            // use .eq(0) or .first()
            // with [0] id have to use .value instead of val()
            // val(): Get the current value of the first element in the set of matched elements.
            form_data.append("old_cover_temp_name", hidden_temp.val());
        }

        $.ajax({
               // whole mistake was forgetting " around url
               url: "{{ url_for('upload_cover', book_id=book.id if book.id else 0) }}",
               type: 'POST',
               data: form_data,
               // Tell jQuery not to process data or worry about content-type
               // You *must* include these options!
               cache: false,
               contentType: false,
               processData: false,
               // response type
               dataType: "json"
        }).done(function(data) {
            if (data.error) {
                console.log(data.error);
            }
            else {
                // browser caches img and if url doesnt change new img wont be displayed
                // circumvent that by adding a variable to the img url
                $(".book-page-image").attr("src",
                    data.cover_path + "?timestamp=" + new Date().getTime());
                {% if book.id is none %}
                // get only filename vv
                var temp_name = data.cover_path.split("/")
                // get last element
                temp_name = temp_name[temp_name.length-1]

                if (hidden_temp.length) {
                    // change value attr if there was a hidden field for temp name b4
                    // val(value) sets value on all matched
                    hidden_temp.val(temp_name);
                } else {
                    // add temp name of cover (no id yet) as hidden field so we can rename it
                    var hidden_temp_name = "<input type='hidden' id='cover_temp_name' name='cover_temp_name' value='" +
                        temp_name + "'/>"
                    $("#add-book-form").prepend(hidden_temp_name)
                }
                {% endif %}
           }
        });
        // to prevent default also
        return false;

    });
});
</script>
</div>
<div class="col-md-8 col-sm-12 col-no-padding alt-bg book-info-wrap">
	<div class="row row-no-margin">
		<div class="book-title">{{ book.title if book.title else 'New Book' }}</div>
	<hr>
	</div>
<div class="book-info-container" style="border-spacing: 3px;min-width:100%;">
<script type="text/javascript" src="{{ url_for('static', filename='selectize.min.js') }}"></script>
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='selectize.bootstrap3.css') }}" />
{% if book.id is not none %}
<form id=edit-book-form action={{ url_for('edit_book', book_id=book.id) }} method=post style="min-width:100%;width:100%;">
{% else %}
<form id=add-book-form action={{ url_for('add_book') }} method=post style="min-width:100%;width:100%;">
{% if cover_temp_name %}
<input type='hidden' id='cover_temp_name' name='cover_temp_name' value="{{ cover_temp_name }}"/>
{% endif %}
{% if extr_data %}
<input type='hidden' id='extr_data_json' name='extr_data_json' value="{{ extr_data }}""/>
{% endif %}
{% endif %}
<div class="book-line">
<div class="edit-book-info">English Title</div>
<div class="book-data" id="EnglishTitle" style="width:100%;">
	<input type="text" class="selectize-input" name="title_eng" id="EnglishTitle" value="{{ book.title_eng }}">
</div>
</div>
<div class="book-line">
<div class="edit-book-info">Foreign Title</div>
<div class="book-data" id="ForeignTitle">
	<input type="text" class="selectize-input" name="title_foreign" id="ForeignTitle" value="{{ book.title_foreign }}">
</div>
</div>
<div class="book-line">
<div class="edit-book-info">Pages</div>
<div class="book-data" id="Pages">
	<input required type="text" class="selectize-input" name="pages" id="Pages" value="{{ book.pages }}">
</div>
</div>
<div class="book-line">
<div class="edit-book-info">Status</div>
<div class="book-data" id="Status">
	<select required name="status_id" class="selectized select-single" placeholder="Select the publishing status...">
		<option value="">Select the publishing status...</option>
		{% for _id, name in available_options['status'] %}
		<option value="{{ _id }}" {{'selected' if book.status_id == _id else ''}}>{{ name }}</option>
		{% endfor %}
	</select>
</div>
</div>
<div class="book-line">
<div class="edit-book-info">My Rating</div>
<div class="book-data" id="MyRating">
	<input type="text" class="selectize-input" name="my_rating" value="{{ book.my_rating|float() if book.my_rating else '' }}" placeholder="Decimal rating from 0-5.0">
</div>
</div>
<div class="book-line">
<div class="edit-book-info">Language</div>
<div class="book-data" id="Language">
	<select required name="language_id" class="selectized select-single-create" placeholder="Select the book's language...">
		<option value="">Select the book's language...</option>
		{% for _id, name in available_options['language'] %}
		<option value="{{ _id }}" {{'selected' if book.language_id == _id else ''}}>{{ name }}</option>
		{% endfor %}
	</select>
</div>
</div>
<div class="book-line">
<div class="edit-book-info">Category</div>
<div class="book-data" id="Category">
	<select multiple name="category" multiple class="selectized select-multiple-create" placeholder="Add categories, delimiter is ';'">
		<option value="">Add categories, delimiter is ';'</option>
		{% for _, name in available_options['category'] %}
		<option value="{{ name }}" {{'selected' if name in book.category else ''}}>{{ name }}</option>
		{% endfor %}
	</select>
</div>
</div>
<div class="book-line">
<div class="edit-book-info">Collection</div>
<div class="book-data" id="Collection">
	<select multiple name="collection" class="selectized select-multiple-create" placeholder="Add collections, delimiter is ';'">
		<option value="">Add collections, delimiter is ';'</option>
		{% for _, name in available_options['collection'] %}
		<option value="{{ name }}" {{'selected' if name in book.collection else ''}}>{{ name }}</option>
		{% endfor %}
	</select>
</div>
</div>
<div class="book-line">
<div class="edit-book-info">Group</div>
<div class="book-data" id="Group">
	<select multiple name="groups" class="selectized select-multiple-create" placeholder="Add groups, delimiter is ';'">
		<option value="">Add groups, delimiter is ';'</option>
		{% for _, name in available_options['groups'] %}
		<option value="{{ name }}" {{'selected' if name in book.groups else ''}}>{{ name }}</option>
		{% endfor %}
	</select>
</div>
</div>
<div class="book-line">
<div class="edit-book-info">Artist</div>
<div class="book-data" id="Artist">
	<select multiple name="artist" class="selectized select-multiple-create" placeholder="Add artists, delimiter is ';'">
		<option value="">Add artists, delimiter is ';'</option>
		{% for _, name in available_options['artist'] %}
		<option value="{{ name }}" {{'selected' if name in book.artist else ''}}>{{ name }}</option>
		{% endfor %}
	</select>
</div>
</div>
<div class="book-line">
<div class="edit-book-info">Parody</div>
<div class="book-data" id="Parody">
	<select multiple name="parody" class="selectized select-multiple-create" placeholder="Add parodies, delimiter is ';'">
		<option value="">Add parodies, delimiter is ';'</option>
		{% for _, name in available_options['parody'] %}
		<option value="{{ name }}" {{'selected' if name in book.parody else ''}}>{{ name }}</option>
		{% endfor %}
	</select>
</div>
</div>
<div class="book-line">
<div class="edit-book-info">Character</div>
<div class="book-data" id="Character">
	<select multiple  name="character" class="selectized select-multiple-create" placeholder="Add characters, delimiter is ';'">
		<option value="">Add characters, delimiter is ';'</option>
		{% for _, name in available_options['character'] %}
		<option value="{{ name }}" {{'selected' if name in book.character else ''}}>{{ name }}</option>
		{% endfor %}
	</select>
</div>
</div>
<div class="book-line">
<div class="edit-book-info">Tag</div>
<div class="book-data" id="Tag">
	<select multiple name="tag" class="selectized select-multiple-create" placeholder="Add tags, delimiter is ';'">
		<option value="">Add tags, delimiter is ';'</option>
		{% for _, name in available_options['tag'] %}
		<option value="{{ name }}" {{'selected' if name in book.tag else ''}}>{{ name }}</option>
		{% endfor %}
	</select>
</div>
</div>
<div class="book-line">
<div class="edit-book-info">List</div>
<div class="book-data" id="List">
	<select multiple name="list" class="selectized select-multiple-create" placeholder="Add lists, delimiter is ';'">
		<option value="">Add lists, delimiter is ';'</option>
		{% for _, name in available_options['list'] %}
		<option value="{{ name }}" {{'selected' if name in book.list else ''}}>{{ name }}</option>
		{% endfor %}
	</select>
</div>
</div>
<div class="book-line">
<div class="edit-book-info">Note</div>
<div class="book-data" id="Note">
	{# only supposed to be a small note so no textarea(multi-line) field #}
	<input type="text" class="selectize-input" name="note" id="Note" value="{{ book.note if book.note else '' }}">
	{# <textarea name="note" id="Note" cols="40" rows="5">{{ book.note if book.note else '' }}</textarea> #}
</div>
</div>
<div class="book-line">
<div class="edit-book-info"></div>
<div class="book-data" id="">
<button type="submit" id="updateBtn" class="book-read-button button-stack green-color button-leftmost"><i class="fas fa-check"></i><span style="margin-left: 5px;">Save</span></button>
<a id="cancel-add-book" href={{ url_for('show_entries') }} class="book-read-button button-stack red-color"><i class="fas fa-ban"></i> Cancel</a>
{% if not book.id %}
    <script type="text/javascript">
    $(document).ready(function() {
        $("#cancel-add-book").click(function(event) {
            event.preventDefault();
            let req_url = "{{ url_for('cancel_add_book') }}";
            let redirect_func = function() {
                                    // location.href = "..." would work like a link -> saved
                                    // in history etc.
                                    // location.replace() just replaces the current doc
                                    window.location.href = "{{ url_for('show_entries') }}";
                                }
            let cover_temp_name = $('#cover_temp_name');

            let data = "";
            if (cover_temp_name.length) {
                data = cover_temp_name.val();
            } else {
                data = "";
            }

            // $.post(url, data, success, dataType) usees default contentType:
            // 'application/x-www-form-urlencoded; charset=UTF-8'
            $.ajax({
                type: "POST",
                url: req_url,
                contentType: "text/plain; charset=UTF-8",
                data: data,
                success: redirect_func,
                // type were expecting back
                // if none is specified, jQuery will try to infer it based on the MIME type
                dataType: null
            });
        // to also prevent default
        return false;
        });
    });
    </script>
{% endif %}
</div>
</div>
<script>
$('.select-single').selectize({
	create: false,
	sortField: {
		field: 'text',
		direction: 'asc'
	},
	dropdownParent: 'body'
});
$('.select-single-create').selectize({
	create: true,
	sortField: {
		field: 'text',
		direction: 'asc'
	},
	dropdownParent: 'body'
});
$('.select-multiple-create').selectize({
    plugins: ['remove_button'],
    delimiter: ';',
    create: true,
    persist: false,
    selectOnTab: true,
    create: function(input) {
	return {
	    value: input,
	    text: input
	}
    }
});
</script>
</form>
</div> {# book info container #}
</div> {# book-info-wrap #}
</div> {# row end #}
{% endblock %}
