<!DOCTYPE html>
<html>
<head>
{% block head %}
<link rel=stylesheet type=text/css href="{{ url_for('static', filename='fontawesome-all.min.css') }}">
<link rel=stylesheet type=text/css href="{{ url_for('static', filename='style.css') }}">
{# src https://appelsiini.net/projects/lazyload or https://github.com/tuupola/jquery_lazyload/tree/2.x #}
<script src="{{ url_for('static', filename='lazyload.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='jquery-3.3.1.min.js') }}"></script>
<script src="{{ url_for('static', filename='mdb.js') }}"></script>
<meta name="csrf-token" content="{{ csrf_token() }}">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<script type="text/javascript">
    // configure jquery ajax requests to send csrf_token as X-CSRF-Token header on POST request
    // taken from flask-wtf

    // The settings specified here will affect all calls to $.ajax or Ajax-based derivatives
    // such as $.get(). This can cause undesirable behavior since other callers (for example,
    // plugins) may be expecting the normal default settings. For that reason we strongly
    // recommend against using this API. Instead, set the options explicitly in the call
    // or define a simple plugin to do so.
    $.ajaxSetup({
        beforeSend: function(xhr, settings) {
            if (!/^(GET|HEAD|OPTIONS|TRACE)$/i.test(settings.type) && !this.crossDomain) {
                xhr.setRequestHeader("X-CSRFToken", $('meta[name="csrf-token"]').attr('content'));
            }
        }
    });
</script>
{% endblock %}
</head>
<body>
<nav class="navbar" role="navigation" aria-label="main navigation">
    <div class="navbar-brand">
        <a class="navbar-item is-size-5-mobile has-text-weight-bold mdb-navbar-brand" href="/">MangaDB</a>

        {# navbar-burger has to be last item #}
        <a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false">
          <span aria-hidden="true"></span>
          <span aria-hidden="true"></span>
          <span aria-hidden="true"></span>
        </a>
    </div>

    <div class="navbar-menu">  {# only two direct children navbar-start and navbar-end #}
        <div class="navbar-start">
            <div class="navbar-item" id="searchbar-item">
                <form id="searchForm" action="{{ url_for('main.search_books') }}" method=get class="" style="width: 100%;">
                    <div class="control has-icons-left">
                        <input type="text" id="searchBar" class="input is-rounded has-text-light searchbar" name ="q" placeholder="Search" value="{{ search_field }}"/>
                        <span class="icon is-left">
                            <i class="fa fa-search" id="search-icon"></i>
                        </span>
                    </div>
                    <input type="hidden" value="{{ order_col if order_col else 'id' }}" name="sort_col" />
                    <input type="hidden" value="{{ asc_desc if asc_desc else 'DESC' }}" name="order" />
                </form>
            </div>

            {# navbar-dropdown that contains all search options #}
            {# separate dropdown for sorting inside that #}
            <div class="navbar-item has-dropdown is-hoverable">
                <a class="navbar-link is-arrowless" id="search-opt-cog-icon">
                    <span class="icon">
                        <i class="fas fa-cog"></i>
                    </span>
                    {# always hidden on desktop #}
                    <span class="menu-description vis-toggle is-hidden">
                        Search options:
                    </span>
                </a>

                <div class="navbar-dropdown">
                    <div class="navbar-item dropdown">
                        <div class="dropdown-trigger">
                            <button class="button is-nav-button" aria-haspopup="true" aria-controls="sortColOptions">
                                <span class="icon">  {# recommended to wrap in span with fontawesome in bulma buttons #}
                                    <i class="fas fa-sort"></i>
                                </span>
                                <span class="menu-description">
                                    Sorting column
                                </span>
                            </button>
                        </div>

                        <div class="dropdown-menu" id="sortColOptions" role="menu">
                            <div class="dropdown-content">
                                <a class="dropdown-item {{ 'is-active' if not order_col or order_col == 'id' else '' }}" data-value="id" href="#">Id</a>
                                <a class="dropdown-item {{ 'is-active' if order_col == 'title_eng' else '' }}" data-value="title_eng" href="#">English Title</a>
                                <a class="dropdown-item {{ 'is-active' if order_col == 'title_foreign' else '' }}" data-value="title_foreign" href="#">Foreign Title</a>
                                <a class="dropdown-item {{ 'is-active' if order_col == 'pages' else '' }}" data-value="pages" href="#">Pages</a>
                                <a class="dropdown-item {{ 'is-active' if order_col == 'my_rating' else '' }}" data-value="my_rating" href="#">My Rating</a>
                                <a class="dropdown-item {{ 'is-active' if order_col == 'last_change' else '' }}" data-value="last_change" href="#">Last Change</a>
                            </div>
                        </div>
                    </div>

                    <div class="navbar-item">
                        <a class="button is-nav-button" href="#" id="orderLnk" data-value="{{ asc_desc if asc_desc else 'DESC' }}">
                            <span class="icon">
                                <i class="fas fa-sort-amount-{{ 'down' if asc_desc == 'DESC' else 'up' }}"></i>
                            </span>
                            <span class="menu-description">
                                Sort {{ 'Descending' if asc_desc == 'DESC' else 'Ascending' }}
                            </span>
                        </a>
                    </div>
                    <div class="navbar-item">
                        <a class="button is-nav-button" href="#" id="refreshSearch">
                            <span class="icon">
                                <i class="fas fa-sync-alt"></i>
                            </span>
                            <span class="menu-description">
                                Refresh search
                            </span>
                        </a>
                    </div>
                </div>
            </div>
        </div> {# navbar-start #}


        <div class="navbar-end">
            <div class="navbar-item has-dropdown is-hoverable">
                <a class="navbar-link is-arrowless">
                    <span class="icon">
                        <i class="fas fa-toolbox"></i>
                    </span>
                    <span class="menu-description vis-toggle is-hidden">
                        Actions:
                    </span>
                </a>

                <div class="navbar-dropdown is-right">
                    <div class="navbar-item">
                        <a class="button is-nav-button" id="add-book-btn" href="{{ url_for('main.show_add_book') }}">
                            {# mx-0 needed since we otherwise get a margin because we are not the last #}
                            {# child, menu-description is even though it's hidden but it still adds margins #}
                            {# decided to go for js instead #}
                            <span class="icon">
                                <i class="fas fa-plus"></i>
                            </span>
                            <span class="menu-description">
                                Add new book
                            </span>
                        </a>
                    </div>
                    <div class="navbar-item">
                        <a class="button is-nav-button" id="view-collections-btn"
                           href="{{ url_for('main.manage_tags') }}">
                            <span class="icon">
                                <i class="fas fa-tags"></i>
                            </span>
                            <span class="menu-description">
                                Manage tags
                            </span>
                        </a>
                    </div>
                    <div class="navbar-item">
                        <a class="button is-nav-button" id="refresh-cookies-btn"
                           href="{{ url_for('main.refresh_cookies_file') }}">
                            <span class="icon">
                                <i class="fas fa-cookie-bite"></i>
                            </span>
                            <span class="menu-description">
                                Refresh cookies
                            </span>
                        </a>
                    </div>
                    <div class="navbar-item">
                        {% if "authenticated" in session %}
                        <a class="button is-nav-button" href="{{ url_for('auth.logout') }}">
                            <span class="icon">
                            <i class="fas fa-sign-out-alt"></i>
                            </span>
                            <span class="menu-description">
                                Sign Out
                            </span>
                        </a>
                        {% else %}
                        <a class="button is-nav-button" href="{{ url_for('auth.login') }}">
                            <span class="icon">
                            <i class="fas fa-sign-in-alt"></i>
                            </span>
                            <span class="menu-description">
                                Sign In
                            </span>
                        </a>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
    </div> {# navbar-menu #}
</nav>
{% block flash_messages %}
{% with messages = get_flashed_messages(with_categories=true) %}
    {% if messages %}
    <section class="section flash-messages">
        <div class="container">
            {% for category, message in messages %}
            {% if 'title' in category %}
                <p class="{{ category }} is-4 {{ 'mt-3' if loop.index0 else ''}}">{{ message }}</p>
            {% else %}
                <p class="{{ category }}">{{ message }}</p>
            {% endif %}
            {% endfor %}
        </div>
    </section>
    {% endif %}
{% endwith %}
{% endblock %}
{% block body %}{% endblock %}
{# only started working once placed at end of website or at least after imgs? #}
<script type="text/javascript">lazyload();</script>
<script>
    $("img").on("error", function() {
        $(this).attr("src", "{{ url_for('static', filename='no-image.png') }}");
    });
</script>
</body>
</html>
