<!doctype html>
{% if book %}
<title>{{ book.title + ' - MangaDB' }}</title>
{% else %}
<title>MangaDB</title>
{% endif %}
<link rel=stylesheet type=text/css href="{{ url_for('static', filename='fontawesome-all.css') }}">
{# <link rel=stylesheet type=text/css href="{{ url_for('static', filename='bootstrap.min.css') }}"> #}
{# instead of manually coping over stuff from tsuminos html and css im just using their stylesheet now #}
<link rel=stylesheet type=text/css href="{{ url_for('static', filename='tsucss.css') }}">
<link rel=stylesheet type=text/css href="{{ url_for('static', filename='style.css') }}">
{# src https://appelsiini.net/projects/lazyload or https://github.com/tuupola/jquery_lazyload/tree/2.x #}
<script type="text/javascript" src="{{ url_for('static', filename='jquery-3.3.1.min.js') }}"></script>
<script src="{{ url_for('static', filename='lazyload.js') }}"></script>
{# <script src="{{ url_for('static', filename='bootstrap.min.js') }}"></script> #}
<div class=page>
	<h1><a href="/" id="title-anchor">MangaDB</a></h1>
	{% with messages = get_flashed_messages(with_categories=true) %}
		{% if messages %}
		    <div class="flash dark-color">
			<ul class="flash-messages">
			{% for category, message in messages %}
			<li class="{{ category }}">{{ message }}</li>
			{% endfor %}
			</ul>
		    </div>
		{% endif %}
	{% endwith %}
{% block body %}{% endblock %}
</div>
<script>
    function imgError(image) {
        // remove onerror defaut
        image.onerror = "";
        // replace with placeholder
        image.src = "{{ url_for('static', filename='no-image.png') }}";
        return true;
    };
</script>

<div class="jump-book-container">
    <form action="{{ url_for('jump_to_book_by_url') }}" method=post class="search-tags">
	<div class="container-align-left" id="jump-url-field-container">
	<input value="" type=text name="ext-url" class="data-search" id="jumpURL">
	</div>
	<div class="container-align-right" id="jump-url-btn-container">
	<button type="submit" id="jump-book-btn" class="book-read-button button-stack red-color">
		<i class="fas fa-share button-icon"> </i> <span id="hide-on-screen-width">Jump</span>
	</button>
	</div>
    </form>
</div>
