{% extends "layout.html" %}

{% block body %}
{% if collections %}
<div class="section">
<div class="container block" style="position: relative;">
{% for c_row in collections %}
    {% set c_name = c_row[0] %}
    <div class="columns mb-0">
        <div class="column">
            {# relative pos to anchor button with abs pos #}
            <div class="kw-headline" style="position: relative;">
                {# could add media-query to switch to relative position so it gets displayed left #}
                {# of COLLECTION #}
                <a href={{ url_for("main.show_edit_collection", collection_name=c_name) }}>
                    <button class="button is-small"
                            style="position: absolute; right: 0; top: 0">
                        <i class="fas fa-pen"></i>
                    </button> 
                </a>
                <span>COLLECTION: </span>{{ c_name }}
            </div>
            <hr>
        </div>
    </div>
{% endfor %}
</div>
</div>
{% else %}
<div class="section">
<div class="container block">
    <div class="title is-3">No collections</div>
</div>
</div>
{% endif %}
{% endblock %}

