{% extends "book.html" %}
{% block flash_messages %}
{{ super() }}  {# render block of parent template #}
{# TODO move these to their own template and then call render_template on them directly #}
{% if add_ei_or_new_book_prompt or book_upd_changes or outdated %}
{# could do this from python as well just using flash() but then we'd have to use #}
{# use Markup object to prevent XSS attacks when using html with flash msgs #}
<section class="section flash-messages">
    <div class="container">
        {% if outdated %}
            <div class="columns">
                <div class="column is-full-width">
                    <p class="title is-4">External links from same site and with matching IDs found!</p>
                    <p class="info">This means that the external links probably don't point to the same book
                        (version) anymore! (Unless you added an external link that was already in the
                        database)</p>
                    <p class="info">A new version might have been uploaded so the best course of action is to
                        search for the book title on the page and see if you want to replace the old
                        version!</p>
                    <p class="title is-5 mt-3">Outdated links</p>
                    {% for o in outdated %}
                    <p class="info">
                    <a class="underline" href="{{ url_for('main.show_info', book_id=o[0]) }}">Book</a> / 
                    <a class="underline" href="{{ o[1].url }}">Outdated Link</a> ( {{ o[1].url }} )
                    </p>
                    {% endfor %}
                    <p class="info">View all outdated books <a class="underline" 
                            href="{{ url_for('main.show_outdated_links') }}">here!</a>
                    </p>
            </div>
        </div>
        {% endif %}
        {% if book_upd_changes %}
        <div class="columns">
            <div class="column is-full-widht">
                <h1 class="title is-4">Differences from Book at external link:</h1>
                <h2 class="subtitle is-6">
                    Which changes should be saved?
                </h2>
                <p class="block">
                    Check the box to apply the changes! Changes for fields with mutliple values are
                    marked as
                    <span class="green-fcolor">added</span>
                    or
                    <span class="red-fcolor">removed</span>:
                </p>
                <div class="block">
                    <form action="{{ url_for('main.apply_upd_changes', book_id=book.id) }}" method=post>
                        {{ csrf_token_field() }}
                    <table class="book-info-table">
                        <tbody>
                            {% for col, change in book_upd_changes['normal'].items() %}
                                {% if change %}
                                <tr>
                                <th>
                                <div class="field">
                                    <div class="control">
                                        <label class="checkbox has-text-white">
                                            <input name="{{ col }}" class="mdb-checkboxes" type="checkbox"
                                             value="{{ change }}">
                                            {{ col.capitalize() }} 
                                        </label>
                                    </div>
                                </div>
                                </th>
                                <td>
                                    {{ change }}
                                </td>
                                </tr>
                                {% endif %}
                            {% endfor %}
                            {% for col, change in book_upd_changes['added_removed'].items() %}
                                <tr>
                                <th>
                                <div class="field">
                                    <div class="control">
                                        <label class="checkbox has-text-white">
                                            <input name ="{{ col }}"
                                             class="checkbox mdb-checkboxes"
                                             type="checkbox" value="{{ change[0]|join(';') if change[0] else '' }};;;{{ change[1]|join(';') if change[1] else '' }}">
                                            {{ col.capitalize() }}
                                        </label>
                                    </div>
                                </div>
                                </th>
                                <td>
                                <div class="tags">
                                    {% if change[0] %}
                                        {% for added in change[0] %}
                                        <a class="tag is-rounded green-color">{{ added }}</a>
                                        {% endfor %}
                                    {% endif %}
                                    {% if change[1] %}
                                        {% for removed in change[1] %}
                                        <a class="tag is-rounded red-color">{{ removed }}</a>
                                        {% endfor %}
                                    {% endif %}
                                </div>
                                </td>
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                    <div class="field mt-5">
                        <div class="control">
                            <button type="submit" id="updateBtn"
                                class="button dark-color">
                                <span class="icon">
                                <i class="fas fa-check"></i>
                                </span>
                                <span>Apply changes</span>
                            </button>
                        </div>
                    </div>
                    </form>
                </div>
            </div>
        </div>
        {% endif %}  {# book_upd_changes #}
        {% if add_ei_or_new_book_prompt %}
        <div class="columns">
            <div class="column is-full-widht">
                <form action="{{ url_for('main.import_book') }}" method=post>
                {{ csrf_token_field() }}
                <p class="title is-4">Title of book to import matches with the title of this book!</p>
                <p class="info block">
                Should the <a href={{ add_ei_or_new_book_prompt[0] }}>URL</a> be added as an
                external link to this book or should it be imported as a new book?
                </p>
                <p>
                <div class="buttons">
                    <button type="submit" name="action" value="add_ext" id="addExt" class="button blue-color">
                        <span class="icon">
                            <i class="fas fa-plus"></i>
                        </span>
                        <span>Add as external link!</span>
                    </button>
                    <button type="submit" name="action" value="add_new" id="addNew" class="button red-color">
                        <span class="icon">
                            <i class="fas fa-book"></i>
                        </span>
                        <span>Add as new book!</span>
                    </button>
                </div>
                </p>
                <input type="hidden" name="extr_data_json" value="{{ add_ei_or_new_book_prompt[1] }}" />
                <input type="hidden" name="ext_url" value={{ add_ei_or_new_book_prompt[0] }} />
                <input type="hidden" name="thumb_url" value={{ add_ei_or_new_book_prompt[2] }} />
            </form>
            </div>
        </div>
        {% endif %}
	</div>
</section>
{% endif %}
{% endblock %}
{% block book_info %}
<section class="section">
<div class="container block">
    <div class="columns">
        <div class="column is-two-fifths">
            <figure class="image">
                <img alt="{{ book.title }}" src={{ url_for('main.thumb_static',
                                            filename=book.id,
                                            cover_timestamp=book.cover_timestamp) }}>
            </figure>
        </div>
        <div class="column is-three-fifths">
            <div class="mb-3">
                <h1 class="title is-3">{{ book.title_eng or book.title_foreign }}</h1>
                {% if book.title_foreign %}
                <h2 style="color: #919191;" class="subtitle is-5">
                    {{ book.title_foreign }}
                </h2>
                {% endif %}
            </div>
            <table class="book-info-table book-info-container">
                <tbody>
                    <tr>
                        <th>English Title</th>
                        <td id="EnglishTitle">
                            {{ book.title_eng }}
                        </td>
                    </tr>
                    <tr>
                        <th>Foreign Title</th>
                        <td id="ForeignTitle">
                            {{ book.title_foreign }}
                        </td>
                    </tr>
                    <tr>
                        <th>Content Rating</th>
                        <td id="ContentRating">
                            {{ 'nsfw' if book.nsfw else 'sfw' }}
                        </td>
                    </tr>
                    {% if book.pages > 0 %}
                    <tr>
                        <th>Pages</th>
                        <td id="Pages">
                            {{ book.pages }}
                        </td>
                    </tr>
                    {% endif %}
                    {% if book.chapter_status is not none %}
                    <tr>
                        <th>Chapter Status</th>
                        <td id="ChapterStatus">
                            {{ book.chapter_status }}
                        </td>
                    </tr>
                    {% endif %}
                    <tr>
                        <th>Reading Status</th>
                        <td id="ReadingStatus">
                            {% if book.read_status is not none %}
                            {# use ~ instead of + in jinja so the arguments get converted to str first #}
                            {{ 'Finished' if book.read_status == 0 else 'Page ' ~ book.read_status }}
                            {% else %}
                            Not Read
                            {% endif %}
                        </td>
                    </tr>
                    <tr>
                        <th>Status</th>
                        <td id="Status">
                            {{ book.status }}
                        </td>
                    </tr>
                    <tr style="margin-bottom: 5px;">
                        <th>My Rating</th>
                        <td id="MyRating">
                            {% for n in range(5) %}
                            {# check for my_rating being None and set all stars active as long as rating>n #}
                            {# my_rating is float so convert to float #}
                            {% if book.my_rating and (book.my_rating > n) %}
                            <a href={{ url_for('main.rate_book', book_id=book.id, rating=n+1.0) }} title={{ n + 1 }}><i class="fa fa-star star-active"></i></a>
                            {% else %}
                            <a href={{ url_for('main.rate_book', book_id=book.id, rating=n+1.0) }} title={{ n + 1 }}><i class="fa fa-star star-inactive"></i></a>
                            {% endif %}
                            {% endfor %}
                        </td>
                    </tr>
                    <tr>
                        <th>Language</th>
                        <td id="Language">
                            <a class="tag is-rounded" href="{{ url_for('main.search_books', q='language:\"' + book.language + '\"') }}">
                                {{ book.language }}
                            </a>
                        </td>
                    </tr>
                    <tr>
                        <th>Category</th>
                        <td id="Category">
                            {% for cat in book.category %}
                            <a class="tag is-rounded" href="#">
                                {{ cat }}
                            </a>
                            {% endfor %}
                        </td>
                    </tr>
                    {% if book.collection %}
                    <tr>
                        <th>Collection</th>
                        <td id="Collection">
                            <div class="tags">
                                {% for collection in book.collection %}
                                <a class="tag is-rounded" href="{{ url_for('main.search_books', q='collection:\"' + collection + '\"') }}">
                                    {{ collection }}
                                </a>
                                {% endfor %}
                            </div>
                        </td>
                    </tr>
                    {% endif %}
                    {% if book.groups %}
                    <tr>
                        <th>Group</th>
                        <td id="Group">
                            <div class="tags">
                                {% for group in book.groups %}
                                <a class="tag is-rounded" href="{{ url_for('main.search_books', q='groups:\"' + group + '\"') }}">
                                    {{ group }}
                                </a>
                                {% endfor %}
                            </div>
                        </td>
                    </tr>
                    {% endif %}
                    {% if book.artist %}
                    <tr>
                        <th>Artist</th>
                        <td id="Artist">
                            <div class="tags">
                                {% for artist in book.artist %}
                                <a class="tag is-rounded" href="{{ url_for('main.search_books', q='artist:\"' + artist + '\"') }}">
                                    {{ artist }}
                                </a>
                                {% endfor %}
                            </div>
                        </td>
                    </tr>
                    {% endif %}
                    {% if book.parody %}
                    <tr>
                        <th>Parody</th>
                        <td id="Parody">
                            <div class="tags">
                                {% for parody in book.parody %}
                                <a class="tag is-rounded" href="#">
                                    {{ parody }}
                                </a>
                                {% endfor %}
                            </div>
                        </td>
                    </tr>
                    {% endif %}
                    {% if book.character %}
                    <tr>
                        <th>Character</th>
                        <td id="Character">
                            <div class="tags">
                                {% for char in book.character %}
                                <a class="tag is-rounded" href="{{ url_for('main.search_books', q='character:\"' + char + '\"') }}">
                                    {{ char }}
                                </a>
                                {% endfor %}
                            </div>
                        </td>
                    </tr>
                    {% endif %}
                    <tr>
                        <th>Tag</th>
                        <td id="Tag">
                            <div class="tags">
                                {% for tag in book.tag|sort() %}
                                {# use get with /search?tagstring= (done by url_for) to search for tag on click #}
                                <a class="tag is-rounded" href="{{ url_for('main.search_books', q='tag:\"' + tag + '\"') }}">
                                    {{ tag }}
                                </a>
                                {% endfor %}
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <th>List</th>
                        <td id="List">
                            <div class="tags">
                                {% for li in book.list %}
                                <div class="tag is-rounded list-tag">
                                    <a data-value="{{ li }}" href="{{ url_for('main.search_books', q='list:\"' + li + '\"') }}">
                                        {{ li }}
                                    </a>
                                    <button class="delete is-small is-dark mdb-list-remove" data-value="{{ li }}" href="#"/>
                                </div>
                                {% endfor %}
                                {% if lists %}
                                <div id="list-dropdown-container" class="dropdown is-hoverable">
                                    <div class="dropdown-trigger">
                                        <a class="tag is-rounded is-small green-color" aria-haspopup="true" aria-controls="list-dropdown-container">
                                            <span class="icon is-small">
                                                <i class="fas fa-plus" aria-hidden="true"></i>
                                            </span>
                                        </a>
                                    </div>
                                    <div class="dropdown-menu" id="list-dropdown-container" role="menu">
                                        <div id="list-dropdown" class="dropdown-content">
                                            {% for li in lists %}
                                            {% if li not in book.list %}
                                            <a class="dropdown-item mdb-list-add" data-value="{{ li }}">{{ li }}</a>
                                            {% endif %}
                                            {% endfor %}
                                        </div>
                                    </div>
                                </div>
                                {% else %}
                                <span class="help">
                                    Press the 'Edit' button to add some lists that will be displayed here
                                    with a quick-add button!
                                </span>
                                {% endif %}
                            </div>
    <script>
        // list add/remove script
        $(document).ready(function() {

            // otherwise jquery will add brackets to key of ajax data of type array
            // $.ajaxSetup({traditional: true});
            // add click event for all elements with .mdb-list-add class
            $('#list-dropdown').click(function(event) {
                let before = []
                // this refers to the DOM element. To use jQuery functionality on this element you
                // need to wrap it in a jQuery object, ie: $(this)
                $('div.list-tag > a:first-child').each(function(index, value) {
                    // normal js $(this).data("value") would be jquery
                    before.push(this.dataset.value);
                });
                // for #list-dropdown.click()
                // e.currentTarget div#list-dropdown
                // e.target div.mdb-list-add
                $.ajax({
                    data : {
                        // get target of click event and retrieve data
                        // attribute -value
                        'name' : $(event.target).data('value'),
                        'before': before
                    },
                    type : 'POST',
                    url : "{{ url_for('main.list_action_ajax', book_id=book.id, action='add') }}",
                    // let jquery know that flask is returning json data
                    // (data in func below)
                    dataType: "json"
                })
                    .done(function(data) { // when prev function is done

                        if (data.error) {
                            console.log(data.error);
                        }
                        else {
                            var html_string =[
                                '<div class="tag is-rounded list-tag"><a data-value="',
                                data.added, '" href="',
                                data.search_tag_url,
                                '">', data.added,
                                '</a><button class="delete is-small is-dark ',
                                'mdb-list-remove" data-value="',
                                data.added, '" href="#"/></div>'].join("");
                            // add HTMLString to element with id List
                            // use appendTo so we get reference back and add func to click event
                            // since Event handlers are bound only to the currently selected elements;
                            // they must exist on the page at the time your code makes the call
                            let new_tag = $(html_string).appendTo('#List > .tags');
                            // $(selector) returns collection of matched elems -> select first (and
                            // only)
                            // new_tag[0].children[1] is normal js use $() to be able to use jquery
                            // .click binding
                            $(new_tag[0].children[1]).click(handle_list_remove);

                            // select all mdb-list-add options
                            $('#list-dropdown .mdb-list-add')
                            // get the one that was added and remove it
                                .filter(function () {
                                    return $(this).data("value") == data.added;
                                }).remove();

                            // get dropdown container and append it so the add
                            // button is at the end again
                            $('#List > .tags').append($('#list-dropdown-container'));
                        }

                    });

                event.preventDefault();

            });

            // add click event for all elements with .mdb-list-add class
            $('.mdb-list-remove').click(handle_list_remove);

            function handle_list_remove(event) {
                let before = []
                // this refers to the DOM element. To use jQuery functionality on this element you
                // need to wrap it in a jQuery object, ie: $(this)
                $('div.list-tag > a:first-child').each(function(index, value) {
                    // normal js $(this).data("value") would be jquery
                    before.push(this.dataset.value);
                });
                // e.target is what triggers the event dispatcher to trigger and
                // e.currentTarget is what you assigned your listener to
                // here:
                // target: w.fn.init [i.fas.fa-times]
                // currentTarget: w.fn.init [a.mdb-list-remove]
                $.ajax({
                    data : {
                        // get target of click event and retrieve data
                        // attribute -value
                        name : $(event.currentTarget).data('value'),
                        'before': before
                    },
                    type : 'POST',
                    url : "{{ url_for('main.list_action_ajax', book_id=book.id, action='remove') }}",
                    // let jquery know that flask is returning json data
                    // (data in func below)
                    dataType: "json"
                })
                    .done(function(data) { // when prev function is done

                        if (data.error) {
                            console.log(data.error);
                        }
                        else {
                            // go through all a tags in vv
                            $('#List > div.tags > .list-tag > a').each(function() {

                                // if data-value attrib matches remove
                                // remove its parent
                                if($(this).data('value') == data.removed) {
                                    $(this.parentNode).remove();
                                }

                            });

                            var add_option = '<a class="dropdown-item mdb-list-add" data-value="' + data.removed + '">' + data.removed + '</a>';
                            // add removed list back to dropdown
                            // don't need to bind click since it's bound to
                            // #list-dropdown and not the a.mdb-list-add
                            $('#list-dropdown')
                                .append(add_option);
                        }

                    });

                event.preventDefault();

            }

        });
    </script>
                        </td>
                    </tr>
                    {% if book.note %}
                    <tr>
                        <th>Note</th>
                        <td id="Note">
                            {% for line in book.note.splitlines() %}
                            {{ line }}<br />
                            {% endfor %}
                        </td>
                    </tr>
                    {% endif %}
                    <tr style="margin-bottom: .5rem;">
                        <th>Last Change</th>
                        <td id="LastChange">
                            {{ book.last_change }}
                        </td>
                    </tr>
                </tbody>
            </table> {# book info container #}
            <div class="buttons">
                {% if book.favorite %}
                <a href={{ url_for('main.set_favorite', book_id=book.id, fav_intbool=0) }} id="btnFav" class="button pink-color">
                    <span class="icon">
                        <i class="fa fa-heart"></i>
                    </span>
                    <span>Favorite</span>
                </a>
                {% else %}
                <a href={{ url_for('main.set_favorite', book_id=book.id, fav_intbool=1) }} id="btnFav" class="button">
                    <span class="icon">
                        <i class="fa fa-plus"></i>
                    </span>
                    <span>Add to Favorites</span>
                </a>
                {% endif %}

                <a href="{{ url_for('main.get_info_txt', book_id=book.id) }}" class="button blue-color">
                    <span class="icon">
                        <i class="fas fa-file-alt"></i>
                    </span>
                    <span>info.txt</span>
                </a>

                <a href={{ url_for('main.show_edit_book', book_id=book.id) }} class="button red-color">
                    <span class="icon">
                        <i class="fas fa-edit"></i>
                    </span>
                    <span>Edit</span>
                </a>

                <form class="button-stack" action="{{ url_for('main.remove_book', book_id=book.id) }}" method=post>
                    <button class="button red-color" type="submit" onclick="return confirm('Are you sure you want to permantly remove this Book?');">
                        <span class="icon">
                            <i class="fas fa-trash-alt"></i>
                        </span>
                        <span>Remove Book</span>
                    </button>
                    {{ csrf_token_field() }}
                </form>

                <a href="/" id="backToIndex" class="button">
                    <span class="icon">
                        <i class="fa fa-home"></i>
                    </span>
                    <span>Index</span>
                </a>
            </div> {# buttons #}
        </div> {# column #}
    </div> {# columns #}
</div>
{% if book.ext_infos %}
<div class="container block">
    <div class="columns mb-0">
        <div class="column">
            <div class="kw-headline">
                <span>EXTERNAL</span>
            </div>
            <hr>
        </div>
    </div>
    {% for ext_info in book.ext_infos %}
    {# loop.index is 1-based -> use loop.index0 for 0-based #}
    {% if (loop.index0 % 3) == 0 %}
    <div class="ext-info-row columns">
    {% endif %}
        <div class="ext-info-container column is-one-third">
            <div class="ext-info-title ml-1">
                <a href="{{ ext_info.url }}">External Link on {{ ext_info.site|capitalize() }}{{ ' (outdated)' if ext_info.outdated else '' }}</a>
            </div>
            <hr>
            <div class="ext-info-inner">
                <table class="book-info-table book-info-container">
                    <tbody>
                        {# sfw mangas are uploaded in chapters and thus don't have a singular upload date #}
                        {# @CleanUp using min datetime.date instead of None since #}
                        {# upload_date column is NOT NULL #}
                        {% if ext_info.upload_date != ext_info.upload_date.min %}
                        <tr>
                            <th>Uploader</th>
                            <td id="Uploader">
                                {{ ext_info.uploader }}
                            </td>
                        </tr>
                        <tr>
                            <th>Uploaded</th>
                            <td id="Uploaded">
                                {{ ext_info.upload_date }}
                            </td>
                        </tr>
                        {% endif %}
                        {% if ext_info.rating is not none %}
                        <tr>
                            <th>Rating</th>
                            <td id="Rating">
                                {{ ext_info.rating }} ({{ ext_info.ratings if ext_info.ratings else 'N/A'}} users / {{ ext_info.favorites if ext_info.favorites else 'N/A' }} favs)
                            </td>
                        </tr>
                        {% endif %}
                        {% if book.nsfw %}
                        <tr>
                            <th>Censorship</th>
                            <td id="Censorship">
                                {{ ext_info.censorship }}
                            </td>
                        </tr>
                        {% endif %}
                        <tr>
                            <th>Downloaded</th>
                            <td id="Downloaded">
                                {% if ext_info.downloaded %}
                                <i class="fas fa-check green-fcolor"></i>
                                {% else %}
                                <i class="fas fa-times red-fcolor"></i>
                                {% endif %}
                            </td>
                        </tr>
                        <tr>
                            <th>Last Update</th>
                            <td id="LastUpdate">
                                {{ ext_info.last_update }}
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="ext-info-btn-container mt-1">
                    <a href={{ ext_info.read_url }} id="btnReadOnline"
                                                    class="button addon-button ext-info-read-button">
                        <span class="icon is-small">
                            <i class="fas fa-book-reader"> </i>
                        </span>
                        <span>Read Online</span>
                    </a>
                    <div class="dropdown is-hoverable addon-button">
                        <div class="dropdown-trigger">
                            <button class="button button-border-sep" aria-haspopup="true"
                                aria-controls="ext-info-opts{{ loop.index0 }}">
                                <!-- <span>Dropdown button</span> -->
                                <span class="icon is-small">
                                    <i class="fas fa-angle-down" aria-hidden="true"></i>
                                </span>
                            </button>
                        </div>
                        <div class="dropdown-menu" id="ext-info-opts{{ loop.index0 }}" role="menu">
                            <div class="dropdown-content">
                                <a class="dropdown-item"
                                   href="{{ url_for('main.set_downloaded', book_id=book.id, ext_info_id=ext_info.id, intbool=0 if ext_info.downloaded else 1) }}">
                                    <span class="icon is-small">
                                        <i class="fas fa-download"> </i>
                                    </span>
                                    <span>Toggle Downloaded</span>
                                </a>
                                <a class="dropdown-item" type="submit",
                                    href="#"
                                    onclick="document.getElementById('updateExtInfo{{ loop.index0 }}').submit();">
                                    <span class="icon is-small">
                                        <i class="fas fa-sync-alt"></i>
                                    </span>
                                    <span>Update</span>
                                    <form action="{{ url_for('main.update_book_ext_info', book_id=book.id,
                                    ext_info_id=ext_info.id) }}" method=post
                                    id="updateExtInfo{{ loop.index0 }}">
                                        {{ csrf_token_field() }}
                                    </form>
                                </a>

                                <div class="dropdown-divider"></div>

                                <a class="dropdown-item" href="#"
                                                         onclick="if(confirm('Are you sure you want to remove this external link from this Book?')) { document.getElementById('removeExtInfo{{ loop.index0 }}').submit(); } else { return false; }">
                                    <span class="icon is-small">
                                        <i class="fas fa-minus-circle"></i>
                                    </span>
                                    <span>Remove</span>
                                    <form id="removeExtInfo{{ loop.index0 }}"
                                        action="{{ url_for('main.remove_ext_info',
                                                   book_id=book.id, ext_info_id=ext_info.id) }}" method=post>
                                        {{ csrf_token_field() }}
                                    </form>
                                </a>
                            </div>
                        </div>
                    </div>
            </div>
        </div> {# ext-info-container #}
        {# loop.index0 -> 0-indexed; loop.index 1-indexed #}
        {% if (loop.index % 3) == 0 %}
    </div> {# row end #}
    {% elif (loop.index == book.ext_infos|length) %}
    {# last item close row if it wasnt b4 #}
</div>
{% endif %}
{% endfor %}
</div>
{% endif %} {# if ext.book_infos #}

<div class="container block">
    <form action="{{ url_for('main.add_ext_info', book_id=book.id) }}" method=post id="ext-info-add" >
        <input type=hidden name=book_title value="{{ book.title }}">
        {{ csrf_token_field() }}
        <label for="url" class="label has-text-white">Add external information</label>
        <div class="field has-addons">
            <div class="control has-icons-left">
                <input class="input is-primary has-text-white" type="text" name="url" id="add-ext-info-inp" placeholder="Insert URL of this book on an external site e.g. https://nhentai.net/g/325903406/">
                <span class="icon is-small is-left">
                    <i class="fas fa-plus"></i>
                </span>
                <p class="help">Informations of external links will be extracted and added here so you can track their download status, censorship etc.</p>
            </div>
            <div class="control">
                <button id="add-ext-info-btn" class="button is-primary" type="submit">Add Info</button>
            </div>
        </div>
    </form>
</div>
{% if collections %}
<div class="container block" id="bookCollections">
    {% for collection_name, c_books in collections %}
    <div class="block">
        <div class="columns mb-0">
            <div class="column">
                {# relative pos to anchor button with abs pos #}
                <div class="kw-headline" style="position: relative;">
                    {# could add media-query to switch to relative position so it gets displayed left #}
                    {# of COLLECTION #}
                    <a href={{ url_for("main.show_edit_collection", collection_name=collection_name) }}>
                        <button class="button is-small"
                                style="position: absolute; right: 0; top: 0;">
                            <i class="fas fa-pen"></i>
                        </button> 
                    </a>
                    <span>COLLECTION: </span>{{ collection_name }}
                </div>
                <hr>
            </div>
        </div>
        <div class="books-collection-grid" id="collection{{ collection_name.capitalize() }}">
            {% for c_book in c_books %}
            <div class="book-grid-item 
            {% if c_book.read_status is not none %}
            {{ 'read' if c_book.read_status == 0 else ''}} {{ 'reading' if c_book.read_status > 0 else ''}}
            {% endif %} {{ 'current' if c_book.id == book.id else '' }}">
                <div class="book-grid-item-cover">
                    <div class="book-grid-item-inner">
                        {% if c_book.favorite %}
                        <div class="ribbon fav"><span><i class="fas fa-heart"></i></span></div>
                        {% endif %}

                        {# To reduce the amount of request you can use data uri images as the placeholder. #}
                        <img src="data:image/gif;base64,R0lGODdhAQABAPAAAMPDwwAAACwAAAAAAQABAAACAkQBADs="
                             data-src={{ url_for('main.thumb_static', filename=c_book.id,
                                                 cover_timestamp=c_book.cover_timestamp) }}
                             class="lazyload">
                        <div class="overlay">
                            <div class="overlay-data">
                                <div class="overlay-title">
                                    {{ c_book.title }}
                                </div>
                                <div class="overlay-pages">
                                    {{ c_book.pages }} pages
                                </div>
                                {% if c_book.my_rating %}
                                <div class="overlay-rate blue-fcolor">
                                    {# To cast to a string in an expression, you use x|string() instead of str(x) #}
                                    {% for _ in range( c_book.my_rating|round|int() ) %}
                                    {# &#9733; would also works but looks better with Fontawesome #}
                                    <span class="fa fa-star"></span>
                                    {% endfor %}
                                </div>
                                {% elif c_book.avg_ext_rating is not none %}
                                <div class="overlay-rate">
                                    {% for _ in range( c_book.avg_ext_rating|round|int() ) %}
                                    <span class="fa fa-star"></span>
                                    {% endfor %}
                                </div>
                                <span style="font-size: small;">(avg external rating)</span>
                                {% endif %}
                            </div>
                            <a href={{ url_for('main.show_info', book_id=c_book.id) }}  class="overlay-button">
                                SHOW
                            </a>
                        </div> {# overlay #}
                    </div> {# book-grid-item-inner #}
                </div> {# book-grid-item-cover #}
                <div class="book-grid-item-title">
                    <span>
                        <a href={{ url_for('main.show_info', book_id=c_book.id) }}>{{ c_book.title_eng }}</a>
                    </span>
                </div> {# book-grid-item-title #}

            </div> {# book-grid-item #}
            {% endfor %}
        </div> {# book-collection-grid #}
    </div>
    {% endfor %}
</div> {# bookCollections #}
{% endif %}
</section>
{% endblock %}
