{% extends "book.html" %}
{% block additional_messages %}
{% if outdated %}
<div class="row dark-color" style="margin-bottom:2em;">
	<div class="col">
    <ul class="flash-messages">
        <li class="warning">External links from same site and with matching IDs found!</li>
        <li class="info">This means that the external links probably don't point to the same book
            (version) anymore! (Unless you added an external link that was already in the
            database)</li>
        <li class="info">A new version might have been uploaded so the best course of action is to
            search for the book title on the page and see if you want to replace the old
            version!</li>
        <li class="title">Outdated links</li>
        {% for o in outdated %}
        <li class="info">
            <a class="underline" href="{{ url_for('main.show_info', book_id=o.id) }}">Book</a> / 
            <a class="underline" href="{{ o.url }}">Outdated Link</a> ( {{ o.url }} )
        </li>
        {% endfor %}
        <li class="info">View all outdated books <a class="underline" 
                href="{{ url_for('main.show_outdated_links') }}">here!</a>
</div>
</div>
{% endif %}
{% if book_upd_changes %}
<div class="row dark-color" style="margin-bottom:2em;">
	<div class="col-md-5">
		<span class="book-title" style="font-size:1.8em;">Differences from Book at external link:</span>
		<form action="{{ url_for('main.apply_upd_changes', book_id=book.id) }}" method=post>
        {{ csrf_token_field() }}
		<ul class="flash-messages">
		{% for col, change in book_upd_changes['normal'].items() %}
			{% if change %}
			{# dont need for=".." when input is inside label tag #}
			<li><label><input name="{{ col }}" class="mdb-checkboxes" type="checkbox" value="{{ change }}">{{ col }}: {{ change }}</label></li>
			{% endif %}
		{% endfor %}
		<li style="margin: 3px 0 5px 0;">Green - Added / Red - Removed</li>
		{% for col, change in book_upd_changes['added_removed'].items() %}
		<li><label><input name ="{{ col }}" class="mdb-checkboxes" type="checkbox" value="{{
                change[0]|join(';') if change[0] else '' }};;;{{ change[1]|join(';') if change[1]
                else '' }}">{{ col }}: 
				{% if change[0] %}
					{% for added in change[0] %}
					<a class="tag green-color">{{ added }}</a>
					{% endfor %}
				{% endif %}
				{% if change[1] %}
					{% for removed in change[1] %}
					<a class="tag red-color">{{ removed }}</a>
					{% endfor %}
				{% endif %}
			</label></li>
		{% endfor %}
		<li><button type="submit" id="updateBtn" class="button green-color button-leftmost" style="margin-bottom: 3px;margin-top: 5px;"><i class="fas fa-check"></i><span style="margin-left: 5px;">Apply changes</span></button></li>
		</ul>
	</form>
	</div>
</div>
{% endif %}
{% if add_ei_or_new_book_prompt %}
<div class="row dark-color" style="margin-bottom:2em;">
	<div class="col" style="padding: 1em 1em 0 1em">
		<form action="{{ url_for('main.import_book') }}" method=post>
        {{ csrf_token_field() }}
        <h5>Title of book to import matches with the title of this book!</h5>
		<ul class="flash-messages">
        <li class="info">Should the <a href={{ add_ei_or_new_book_prompt[0] }}>URL</a> be added as an external link to this book or
            should it be imported as a new book?</li>
		<li>
            <button type="submit" name="action" value="add_ext" id="addExt" class="button blue-color button-leftmost" style="margin-bottom: 3px;margin-top: 5px;"><i class="fas fa-plus"></i><span style="margin-left: 5px;">Add as external link!</span></button>
		    <button type="submit" name="action" value="add_new" id="addNew" class="button red-color button-leftmost" style="margin-bottom: 3px;margin-top: 5px;"><i class="fas fa-book"></i><span style="margin-left: 5px;">Add as new book!</span></button>
        </li>
		</ul>
        <input type="hidden" name="extr_data_json" value="{{ add_ei_or_new_book_prompt[1] }}" />
        <input type="hidden" name="ext_url" value={{ add_ei_or_new_book_prompt[0] }} />
        <input type="hidden" name="thumb_url" value={{ add_ei_or_new_book_prompt[2] }} />
	</form>
	</div>
</div>
{% endif %}
{% endblock %}
{% block book_info %}
<div class="row no-margin">
<div class="book-cover-container col-md-4 col-sm-12">
	<img alt="{{ book.title }}" class="book-cover
	img-responsive" src={{ url_for('main.thumb_static',
	filename=book.id) }}>
</div>
<div class="col-md-8 col-sm-12 no-padding book-info-wrap">
<div class="row no-margin">
	<div class="book-title">{{ book.title_eng or book.title_foreign }}</div>
</div>
<div class="book-info-container">
<div class="book-row">
<div class="book-field-title">English Title</div>
<div class="book-field-data" id="EnglishTitle">
	{{ book.title_eng }}
</div>
</div>
<div class="book-row">
<div class="book-field-title">Foreign Title</div>
<div class="book-field-data" id="ForeignTitle">
	{{ book.title_foreign }}
</div>
</div>
<div class="book-row">
<div class="book-field-title">Pages</div>
<div class="book-field-data" id="Pages">
	{{ book.pages }}
</div>
</div>
<div class="book-row">
<div class="book-field-title">Reading Status</div>
<div class="book-field-data" id="ReadingStatus">
    {% if book.read_status is not none %}
	{{ 'Finished' if book.read_status == 0 else book.read_status }}
    {% else %}
    Not Read
    {% endif %}
</div>
</div>
<div class="book-row">
<div class="book-field-title">Status</div>
<div class="book-field-data" id="Status">
	{{ book.status }}
</div>
</div>
<div class="book-row" style="margin-bottom: 5px;">
<div class="book-field-title">My Rating</div>
<div class="book-field-data" id="MyRating">
	{% for n in range(5) %}
	{# check for my_rating being None and set all stars active as long as rating>n #}
	{# my_rating is float so convert to float #}
	{% if book.my_rating and (book.my_rating > n) %}
	<a href={{ url_for('main.rate_book', book_id=book.id, rating=n+1.0) }} title={{ n + 1 }}><i class="fa fa-star star-active"></i></a>
	{% else %}
	<a href={{ url_for('main.rate_book', book_id=book.id, rating=n+1.0) }} title={{ n + 1 }}><i class="fa fa-star star-inactive"></i></a>
	{% endif %}
	{% endfor %}
</div>
</div>
<div class="book-row">
<div class="book-field-title">Language</div>
<div class="book-field-data" id="Language">
	<a class="tag" href="{{ url_for('main.search_books', q='language:\"' + book.language + '\"') }}">
	{{ book.language }}
	</a>
</div>
</div>
<div class="book-row">
<div class="book-field-title">Category</div>
<div class="book-field-data" id="Category">
{% for cat in book.category %}
<a class="tag" href="#">
	{{ cat }}
</a>
{% endfor %}
</div>
</div>
{% if book.collection %}
<div class="book-row">
<div class="book-field-title">Collection</div>
<div class="book-field-data" id="Collection">
{% for collection in book.collection %}
	<a class="tag" href="{{ url_for('main.search_books', q='collection:\"' + collection + '\"') }}">
	{{ collection }}
	</a>
{% endfor %}
</div>
</div>
{% endif %}
{% if book.groups %}
	<div class="book-row">
	<div class="book-field-title">Group</div>
	<div class="book-field-data" id="Group">
		{% for group in book.groups %}
			<a class="tag" href="{{ url_for('main.search_books', q='groups:\"' + group + '\"') }}">
				{{ group }}
			</a>
		{% endfor %}
	</div>
	</div>
{% endif %}
{% if book.artist %}
<div class="book-row">
<div class="book-field-title">Artist</div>
<div class="book-field-data" id="Artist">
	{% for artist in book.artist %}
		<a class="tag" href="{{ url_for('main.search_books', q='artist:\"' + artist + '\"') }}">
			{{ artist }}
		</a>
	{% endfor %}
</div>
</div>
{% endif %}
{% if book.parody %}
	<div class="book-row">
	<div class="book-field-title">Parody</div>
	<div class="book-field-data" id="Parody">
	{% for parody in book.parody %}
		<a class="tag" href="#">
			{{ parody }}
		</a>
	{% endfor %}
	</div>
	</div>
{% endif %}
{% if book.character %}
	<div class="book-row">
	<div class="book-field-title">Character</div>
	<div class="book-field-data" id="Character">
		{% for char in book.character %}
			<a class="tag" href="{{ url_for('main.search_books', q='character:\"' + char + '\"') }}">
				{{ char }}
			</a>
		{% endfor %}
	</div>
	</div>
{% endif %}
<div class="book-row">
<div class="book-field-title">Tag</div>
<div class="book-field-data" id="Tag">
	{% for tag in book.tag|sort() %}
		{# use get with /search?tagstring= (done by url_for) to search for tag on click #}
		<a class="tag" href="{{ url_for('main.search_books', q='tag:\"' + tag + '\"') }}">
			{{ tag }}
		</a>
	{% endfor %}
</div>
</div>
<div class="book-row">
<div class="book-field-title">List</div>
<div class="book-field-data" id="List">
	{% for li in book.list %}
	<div class="tag list-tag list-tag-border">
                <a data-value="{{ li }}" href="{{ url_for('main.search_books', q='list:\"' + li + '\"') }}">
			{{ li }}
  		</a>
		<a class="mdb-list-remove" data-value="{{ li }}" href="#">
				<i class="fas fa-times" style="vertical-align: middle;"></i>
			</a>
	</div>
	{% endfor %}
	<div id="list-dropdown-container">
	<a class="tag mdb-drop-btn list-tag-border" onclick="show_dropdown()">
		<i class="fas fa-plus mdb-drop-btn" id="mdb-list-add-btn"></i>
	</a>
	<div id="list-dropdown" class="mdb-dropdown-content">
		{% for li in lists %}
			{% if li not in book.list %}
			<a class="mdb-list-add" data-value="{{ li }}">{{ li }}</a>
			{% endif %}
		{% endfor %}
	</div>
	</div>
	<script>
		// dropdown script
		/* When the user clicks on the button, 
		toggle between hiding and showing the dropdown content */
		function show_dropdown() {
		    document.getElementById("list-dropdown").classList.toggle("mdb-show");
		}

		// Close the dropdown menu if the user clicks outside of it
		window.onclick = function(event) {
		  if (!event.target.matches('.mdb-drop-btn')) {

		    var dropdowns = document.getElementsByClassName("mdb-dropdown-content");
		    var i;
		    for (i = 0; i < dropdowns.length; i++) {
		      var openDropdown = dropdowns[i];
		      if (openDropdown.classList.contains('mdb-show')) {
			openDropdown.classList.remove('mdb-show');
		      }
		    }
		  }
		}
	</script>
	<script>
		// list add/remove script
		$(document).ready(function() {

            // otherwise jquery will add brackets to key of ajax data of type array
            // $.ajaxSetup({traditional: true});
			// add click event for all elements with .mdb-list-add class
			$('.mdb-list-add').click(function(event) {
                let before = []
                // this refers to the DOM element. To use jQuery functionality on this element you
                // need to wrap it in a jQuery object, ie: $(this)
                $('div.list-tag > a:first-child').each(function(index, value) {
                    // normal js $(this).data("value") would be jquery
                    before.push(this.dataset.value);
                });
				$.ajax({
					data : {
						// get target of click event and retrieve data
						// attribute -value
						'name' : $(event.target).data('value'),
                        'before': before
					},
					type : 'POST',
					url : "{{ url_for('main.list_action_ajax', book_id=book.id, action='add') }}",
					// let jquery know that flask is returning json data
					// (data in func below)
					dataType: "json"
				})
				.done(function(data) { // when prev function is done

					if (data.error) {
						console.log(data.error);
					}
					else {
						var html_string =[
						'<div class="tag list-tag list-tag-border"><a data-value="',
						data.added, '" href="',
						data.search_tag_url,
						'">', data.added,
						'</a><a class="mdb-list-remove" data-value="',
						data.added,
						'" href="#"><i class="fas fa-times" style="vertical-align: middle;"></i></a></div>'].join("");
						// add HTMLString to element with id List
                        // use appendTo so we get reference back and add func to click event
                        // since Event handlers are bound only to the currently selected elements;
                        // they must exist on the page at the time your code makes the call
                        let new_tag = $(html_string).appendTo('#List');
                        // $(selector) returns collection of matched elems -> select first (and
                        // only)
                        // new_tag[0].children[1] is normal js use $() to be able to use jquery
                        // .click binding
                        $(new_tag[0].children[1]).click(handle_list_remove);

						// select all mdb-list-add options
						$('#list-dropdown-container .mdb-dropdown-content .mdb-list-add')
						// get the one that was added and remove it
						.filter(function () {
							return $(this).data("value") == data.added;
						}).remove();

						// get dropdown container and append it so the add
						// button is at the end again
						$('#List').append($('#list-dropdown-container'));
					}

				});

				event.preventDefault();

			});

			// add click event for all elements with .mdb-list-add class
			$('.mdb-list-remove').click(handle_list_remove);

            function handle_list_remove(event) {
                let before = []
                // this refers to the DOM element. To use jQuery functionality on this element you
                // need to wrap it in a jQuery object, ie: $(this)
                $('div.list-tag > a:first-child').each(function(index, value) {
                    // normal js $(this).data("value") would be jquery
                    before.push(this.dataset.value);
                });
				// e.target is what triggers the event dispatcher to trigger and
				// e.currentTarget is what you assigned your listener to
				// here:
				// target: w.fn.init [i.fas.fa-times]
				// currentTarget: w.fn.init [a.mdb-list-remove]
				$.ajax({
					data : {
						// get target of click event and retrieve data
						// attribute -value
						name : $(event.currentTarget).data('value'),
                        'before': before
					},
					type : 'POST',
					url : "{{ url_for('main.list_action_ajax', book_id=book.id, action='remove') }}",
					// let jquery know that flask is returning json data
					// (data in func below)
					dataType: "json"
				})
				.done(function(data) { // when prev function is done

					if (data.error) {
						console.log(data.error);
					}
					else {
						// go through all a tags in vv
						$('#List > div.tag.list-tag.list-tag-border > a').each(function() {

							// if data-value attrib matches removed
							// remove its parent
							if($(this).data('value') == data.removed) {
								$(this.parentNode).remove();
							}
						
						});

						var add_option = '<a class="mdb-list-add" data-value="' + data.removed + '">' + data.removed + '</a>';
						// add removed list back to dropdown
						$('#list-dropdown-container .mdb-dropdown-content')
						.append(add_option);
					}

				});

				event.preventDefault();

			}

		});
	</script>
</div>
</div>
{% if book.note %}
<div class="book-row">
<div class="book-field-title">Note</div>
<div class="book-field-data" id="Note">
	{% for line in book.note.splitlines() %}
		{{ line }}<br />
	{% endfor %}
</div>
</div>
{% endif %}
<div class="book-row" style="margin-bottom: .5rem;">
<div class="book-field-title">Last Change</div>
<div class="book-field-data" id="LastChange">
	{{ book.last_change }}
</div>
</div>
</div> {# book info container #}
<div class="book-buttons">
{% if book.favorite %}
<a href={{ url_for('main.set_favorite', book_id=book.id, fav_intbool=0) }} id="btnFav" class="button button-stack pink-color button-leftmost"><i class="fa fa-heart"></i> Favorite</a>
{% else %}
<a href={{ url_for('main.set_favorite', book_id=book.id, fav_intbool=1) }} id="btnFav" class="button button-stack button-leftmost"><i class="fa fa-plus"></i> Add to Favorites</a>
{% endif %}

<a href="{{ url_for('main.get_info_txt', book_id=book.id) }}" class="button button-stack blue-color">
<i class="fas fa-file-alt"></i>
info.txt
</a>

<a href={{ url_for('main.show_edit_book', book_id=book.id) }} class="button button-stack red-color"><i class="fas fa-edit"></i> Edit</a>

<form class="button-stack" action="{{ url_for('main.remove_book', book_id=book.id) }}" method=post>
    <button class="button red-color" type="submit" onclick="return confirm('Are you sure you want to permantly remove this Book?');">
        <i class="fas fa-trash-alt"></i>
        Remove Book
    </button>
    {{ csrf_token_field() }}
</form>

<a href="/" id="backToIndex" class="button button-stack"><i class="fa fa-home"></i> Index</a>
</div>
</div> {# book-info-wrap #}
</div>

</div> {# row end #}
<div style="margin: 2rem 0;"></div>
{% if book.ext_infos %}
<div class="row no-margin kw-headline">
    <div class="col no-padding">
        <span>EXTERNAL</span>
    <hr>
    </div>
</div>
{% endif %}
{% for ext_info in book.ext_infos %}
{# loop.index is 1-based -> use loop.index0 for 0-based #}
{% if (loop.index0 % 2) == 0 %}
<div class="ext-info-row row no-margin">
{% endif %}
<div class="ext-info-container col-sm-6 col-md-6 col-lg-6">
<div class="row no-margin">
	<div class="col no-padding">
	<div class="ext-info-title" style="display:inline-block;"><a href="{{ ext_info.url }}">External
    Link on {{ ext_info.site|capitalize() }}{{ ' (outdated)' if ext_info.outdated else '' }}</a></div>
<hr>
	</div>
</div>
<div class="ext-info-inner" style="border-spacing: 3px;">
	<div class="ext-info-line">
	<div class="ext-info">Uploader</div>
	<div class="ext-info-data" id="Uploader">
        {{ ext_info.uploader }}
	</div>
	</div>
	<div class="ext-info-line">
	<div class="ext-info">Uploaded</div>
	<div class="ext-info-data" id="Uploaded">
		{{ ext_info.upload_date }}
	</div>
	</div>
	{% if ext_info.rating is not none %}
	<div class="ext-info-line">
	<div class="ext-info">Rating</div>
	<div class="ext-info-data" id="Rating">
		{{ ext_info.rating }} ({{ ext_info.ratings if ext_info.ratings else 'N/A'}} users / {{ ext_info.favorites if ext_info.favorites else 'N/A' }} favs)
	</div>
	</div>
	{% endif %}
	<div class="ext-info-line">
	<div class="ext-info">Censorship</div>
	<div class="ext-info-data" id="Censorship">
		{{ ext_info.censorship }}
	</div>
	</div>
	<div class="ext-info-line">
	<div class="ext-info">Downloaded</div>
	<div class="ext-info-data" id="Downloaded">
		{% if ext_info.downloaded %}
        <i class="fas fa-check green-fcolor"></i>
        {% else %}
        <i class="fas fa-times red-fcolor"></i>
        {% endif %}
	</div>
	</div>
	<div class="ext-info-line">
	<div class="ext-info">Last Update</div>
	<div class="ext-info-data" id="LastUpdate">
		{{ ext_info.last_update }}
	</div>
	</div>
</div> {# ext-info-container #}
	<div class="ext-info-btn-container row no-margin">
        <div class="btn-group dropright">
		<a href={{ read_url(ext_info.imported_from, ext_info.id_onpage) }} id="btnReadOnline"
        class="button button-stack ext-info-read-button">
        <i class="fas fa-book-reader"> </i>
		Read Online
		</a>
        <button class="button button-stack dropdown-toggle dropdown-split" id="ExtInfoDrop{{ ext_info.id }}" href="#" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        </button>
        
        <div class="dropdown-menu" aria-labelledby="ExtInfoDrop{{ ext_info.id }}">
            <a class="dropdown-item" href="{{ url_for('main.set_downloaded', book_id=book.id,
            ext_info_id=ext_info.id, intbool=0 if ext_info.downloaded else 1) }}">
            <i class="fas fa-download"> </i>
            Toggle Downloaded</a>
            <form action="{{ url_for('main.update_book_ext_info', book_id=book.id,
            ext_info_id=ext_info.id) }}" method=post>
            <button class="dropdown-item" type="submit">
            <i class="fas fa-sync-alt"></i>
            Update
            </button>
            {{ csrf_token_field() }}
            </form>

            <div class="dropdown-divider"></div>

            <form action="{{ url_for('main.remove_ext_info', book_id=book.id, ext_info_id=ext_info.id) }}" method=post>
            <button class="dropdown-item" type="submit" onclick="return confirm('Are you sure you want to remove this external link from this Book?');">
                <i class="fas fa-minus-circle"></i>
                Remove
            </button>
            {{ csrf_token_field() }}
            </form>
        </div>
        </div>

</div>
</div>
{# loop.index0 -> 0-indexed; loop.index 1-indexed #}
{% if (loop.index % 2) == 0 %}
</div> {# row end #}
{% elif (loop.index == book.ext_infos|length) %}
{# last item close row if it wasnt b4 #}
</div>
{% endif %}
{% endfor %}
<div style="margin: 1em 0;"></div>
<div class="row no-margin">
	<form action="{{ url_for('main.add_ext_info', book_id=book.id) }}" method=post id="ext-info-add" >
        {{ csrf_token_field() }}
		<input type=hidden name=book_title value="{{ book.title }}">
            <i class="fas fa-plus" id="add-ext-info-icon"></i>
            {# due to icon above input field gets shifted by icon size unless we modify pos to absolute or sth but then flex wouldnt work #}
			<input type="text" name="url" id="add-ext-info-inp" class="text-input" style="width: 75%;">
			<button id="add-ext-info-btn" class="button" type="submit">Add</button>
	</form>
</div>
{% if collections %}
<div id="bookCollections">
{% for collection_name, c_books in collections %}
    <div class="row no-margin kw-headline" style="margin-top: 2rem;">
        <div class="col no-padding">
            <span>COLLECTION: </span>{{ collection_name }}
            <hr>
        </div>
    </div>
<div class="books-collection-grid" id="collection{{ collection_name.capitalize() }}">
    {% for c_book in c_books %}
    <div class="book-grid-item 
        {% if book.read_status is not none %}
        {{ 'read' if book.read_status == 0 else ''}} {{ 'reading' if book.read_status > 0 else ''}}
        {% endif %} {{ 'current' if c_book.id == book.id else '' }}">
    <div class="book-grid-item-cover">
    <div class="book-grid-item-inner">
	    {% if c_book.favorite %}
	    <div class="ribbon fav"><span><i class="fas fa-heart"></i></span></div>
	    {% endif %}

	    {# To reduce the amount of request you can use data uri images as the placeholder. #}
    <img src="data:image/gif;base64,R0lGODdhAQABAPAAAMPDwwAAACwAAAAAAQABAAACAkQBADs=" data-src={{
    url_for('main.thumb_static', filename=c_book.id) }} class="lazyload">
    <div class="overlay">
        <div class="overlay-data">
            <div class="overlay-title">
                {{ c_book.title }}
            </div>
            <div class="overlay-pages">
                {{ c_book.pages }} pages
            </div>
	    {% if c_book.my_rating %}
            <div class="overlay-rate blue-fcolor">
                {# To cast to a string in an expression, you use x|string() instead of str(x) #}
                {% for _ in range( c_book.my_rating|round|int() ) %}
                {# &#9733; would also works but looks better with Fontawesome #}
                <span class="fa fa-star"></span>
                {% endfor %}
            </div>
	    {% elif c_book.avg_ext_rating is not none %}
            <div class="overlay-rate">
                {% for _ in range( c_book.avg_ext_rating|round|int() ) %}
                <span class="fa fa-star"></span>
                {% endfor %}
            </div>
            <span style="font-size: small;">(avg external rating)</span>
	    {% endif %}
        </div>
	<a href={{ url_for('main.show_info', book_id=c_book.id) }}  class="overlay-button">
                        SHOW
        </a>
    </div> {# overlay #}
    </div> {# book-grid-item-inner #}
    </div> {# book-grid-item-cover #}
    <div class="book-grid-item-title">
    <span class="title">{{ c_book.title_eng }}</span>
    </div> {# book-grid-item-title #}

    </div> {# book-grid-item #}
  {% endfor %}
</div> {# book-collection-grid #}
	<div class="row no-margin" style="margin-bottom: 1rem;"></div>
{% endfor %}
</div> {# bookCollections #}
{% endif %}
{% endblock %}
