{% extends "layout.html" %}
{% block body %}
{% if add_anyway %}
<div class="row" style="margin: -1em 0 1em auto;">
    <form method=post action="{{ url_for('main.import_book') }}">
        {{ csrf_token_field() }}
        <input type="hidden" name="ext_url" value="{{ add_anyway }}"/>
        <button class="book-read-button button-stack green-color" type="submit">Add Book anyway!</button>
    </form>
</div>
{% endif %}
<div class="row">
<div class="col-md-12">
<div id="searchResult">
{% if books %}
    {% for book in books %}
    <div class="book-grid-item {{ 'read' if 'to-read' not in book.list else ''}}">
    <div class="book-grid-item-inner">
	    {% if book.favorite %}
	    <div class="ribbon fav"><span><i class="fas fa-heart"></i></span></div>
	    {% endif %}

	    {# To reduce the amount of request you can use data uri images as the placeholder. #}
    <img src="data:image/gif;base64,R0lGODdhAQABAPAAAMPDwwAAACwAAAAAAQABAAACAkQBADs=" data-src={{
    url_for('main.thumb_static', filename=book.id) }} class="lazyload">
    <div class="overlay">
        <div class="overlay-data">
            <div class="overlay-title">
                {{ book.title }}
            </div>
            <div class="overlay-pages">
                {{ book.pages }} pages
            </div>
	    {% if book.my_rating %}
            <div class="overlay-rate blue-color">
                {# To cast to a string in an expression, you use x|string() instead of str(x) #}
                {% for _ in range( book.my_rating|round|int() ) %}
                {# &#9733; would also works but looks better with Fontawesome #}
                <span class="fa fa-star"></span>
                {% endfor %}
            </div>
	    {% elif book.ext_infos %}
            <div class="overlay-rate">
                {% for _ in range( book.avg_ext_rating|round|int() ) %}
                <span class="fa fa-star"></span>
                {% endfor %}
            </div>
            <span style="font-size: small;">(avg external rating)</span>
	    {% endif %}
        </div>
	<a href={{ url_for('main.show_info', book_id=book.id) }}  class="overlay-button">
                        SHOW
        </a>
    </div>
    <div class="book-grid-item-title border-read">
    <span class="title">{{ book.title_eng }}</span>
    </div>

    </div>
    </div>
    
  {% endfor %}

{% else %}
<em>Unbelievable.  No entries here so far</em>
{% endif %}
</div>
</div>
</div>
  {# only started working once placed at end of website or at least after imgs? #}
  <script type="text/javascript">lazyload();</script>

{% if last_id %}
{% if search_field %}
	{% if more.next %}
    <a href="{{ url_for('main.search_books', after=last_id, searchstring=search_field,
	order_by_col=order_col_libox, asc_desc=asc_desc) }}"><div id="page-next"><div id="page-next-inner">›</div></div></a>
	{% endif %}
	{% if more.prev %}
    <a href="{{ url_for('main.search_books', before=first_id, searchstring=search_field,
	order_by_col=order_col_libox, asc_desc=asc_desc) }}"><div id="page-prev"><div
    id="page-prev-inner">‹</div></div></a>
	{% endif %}
{% else %}
	{% if more.next %}
    <a href="{{ url_for('main.show_entries', after=last_id, order_by_col=order_col_libox, asc_desc=asc_desc) }}"><div id="page-next"><div id="page-next-inner">›</div></div></a>
	{% endif %}
	{% if more.prev %}
    <a href="{{ url_for('main.show_entries', before=first_id, order_by_col=order_col_libox, asc_desc=asc_desc) }}"><div id="page-prev"><div id="page-prev-inner">‹</div></div></a>
	{% endif %}
{% endif %}
{% endif %}
{% endblock %}
