{% extends "layout.html" %}
{% block body %}
{% if add_anyway %}
<div class="row" style="margin: -1em 0 1em auto;"><a class="book-read-button button-stack green-color" href="{{ add_anyway }}">Add Book anyway!</a></div>
{% endif %}
<div class="row search-all">
<form action="{{ url_for('search_books') }}" method=post class="search-tags">
    {% if last_id is not none %}
    <input type="hidden" name="last_id" value={{ last_id }}>
    {% endif %}
	<div class="search-text col-md-6 col-sm-12">
	<div class="button-container" id="simple-container">
		{# use divs to split up width of container and then align one to the left and one to the right so they always remain on the same line and shrink and grow with screen size -> container( div90%left div10%right ..) #}
		<div class="container-align-left" style="width: 90%">
		<div style="width:5%;" class="container-align-left">
		<i class="button-expand-icon fa fa-search" id="srchIcon"></i>
		</div>
		<div style="width: 95%;" class="container-align-right">
		{% if search_field %}
		{# search_field will be set if we already searched -> set searchstring as value of searchfield so usr knows what search result is displayed #}
		<input value="{{ search_field }}" type=text name=searchstring class="data-search" id="txtSearch">
		{% else %}
		<input type=text name=searchstring class="data-search" id="txtSearch">
		{% endif %}
		</div>
		</div>
		<div class="container-align-right" style="width: 10%;">
		<input type=submit value=Search id="searchBtn" class="book-read-button button-stack">
		</div>
	</div>
	</div>
	<div class="search-text col-md-6 col-sm-12">
	<div class="button-container container-align-right" id="simple-container-sorting">
		<div class="search-options" id="sorting-box">
		<label for="order-col-libox">Sorting:</label>
		<select id="order-col-libox" name="order_by_col" style="color: #000;">
		<option {{ 'selected="selected"' if order_col_libox == "id" else "" }} value="id">Id</option>
		  <option {{ 'selected="selected"' if order_col_libox == "title" else "" }} value="title">Title</option>
		  <option {{ 'selected="selected"' if order_col_libox == "pages" else "" }} value="pages">Pages</option>
		  <option {{ 'selected="selected"' if order_col_libox == "my_rating" else "" }} value="my_rating">My Rating</option>
		  <option {{ 'selected="selected"' if order_col_libox == "last_change" else "" }} value="last_change">Date of last change</option>
		</select>
		</div>
		<div class="search-options" id="asc-desc">
		<fieldset>
		{# give radio same name so only onbe can be selected #}
		    <input type="radio" id="asc" name="asc_desc" value="ASC" {{ "checked" if asc_desc == "ASC" else "" }}>
		    <label for="asc">ASC</label>
		    <input type="radio" id="desc" name="asc_desc" value="DESC" {{ "checked" if asc_desc == "DESC" else "" }}>
		    <label for="desc">DESC</label>
		</fieldset>
		</div>
	</div>
	</div>
</form>
</div>
<div style="margin: 10px auto;"></div>

<div class="row">
<div class="col-md-12">
<div id="foundBooks">
<div id="foundBooksWrapper">
<div id="foundBooksInner">
    {% for book in books %}
    <div class="col-md-2 col-sm-4 col-xs-6 col-no-padding">
    <div class="book-grid-item-container">
    <div class="book-grid-item">
	    {% if book.favorite %}
	    <div class="ribbon blue"><span><i class="fa fa-thumbs-up"></i> FAVE</span></div>
	    {% endif %}

    <a href={{ url_for('show_info', book_id=book.id) }}>
	    {# To reduce the amount of request you can use data uri images as the placeholder. #}
    <img src="data:image/gif;base64,R0lGODdhAQABAPAAAMPDwwAAACwAAAAAAQABAAACAkQBADs=" data-src={{
    url_for('thumb_static', filename=book.id) }} class="lazyload">
    <div class="overlay">
        <div class="overlay-data">
            <div class="overlay-title">
                {{ book.title }}
            </div>
            <div class="overlay-sub">
                {{ book.pages }} pages
            </div>
	    {% if book.my_rating %}
            <div class="overlay-rate">
                {# To cast to a string in an expression, you use x|string() instead of str(x) #}
                {% for _ in range( book.my_rating|round|int() ) %}
                {# &#9733; would also works but looks better with Fontawesome #}
                <span class="fa fa-star"></span>
                {% endfor %}
            </div>
	    {% elif book.ext_infos %}
            <div class="overlay-rate">
                {% for _ in range( book.avg_ext_rating|round|int() ) %}
                <span class="fa fa-star"></span>
                {% endfor %}
            </div>
            <span style="font-size: small;">(avg external rating)</span>
	    {% endif %}
        </div>
	<a href={{ url_for('show_info', book_id=book.id) }}  class="set-backToIndex overlay-button status-none">
                        VIEW INFO
        </a>
    </div>
    <div class="title status-none">
    <span class="title-text">{{ book.title_eng }}</span>
    </div>
    </a>

    </div>
    </div>
    </div>
    
  {% else %}
    <em>Unbelievable.  No entries here so far</em>
  {% endfor %}
  </div>
</div>
</div>
</div>
</div>
  {# only started working once placed at end of website or at least after imgs? #}
  <script type="text/javascript">lazyload();</script>

{% if last_id %}
{% if search_field %}
	{% if more %}
    <a href="{{ url_for('search_books', last_id=last_id, searchstring=search_field,
	order_by_col=order_col_libox, asc_desc=asc_desc) }}"><div id="page-next"><div id="page-next-inner">›</div></div></a>
	{% endif %}
    {# TODO #}
	{% if last_id != 1 %}
    <a href="{{ url_for('search_books', last_id=last_id, searchstring=search_field,
	order_by_col=order_col_libox, asc_desc=asc_desc) }}"><div id="page-prev"><div id="page-prev-inner">‹</div></a>
	{% endif %}
{% else %}
	{% if more %}
    <a href="{{ url_for('show_entries', last_id=last_id, order_by_col=order_col_libox, asc_desc=asc_desc) }}"><div id="page-next"><div id="page-next-inner">›</div></div></a>
	{% endif %}
    {# TODO #}
	{% if last_id != 1 %}
    <a href="{{ url_for('show_entries', last_id=last_id, order_by_col=order_col_libox, asc_desc=asc_desc) }}"><div id="page-prev"><div id="page-prev-inner">‹</div></div></a>
	{% endif %}
{% endif %}
{% endif %}
{% endblock %}
