{% extends "book.html" %}
{% block book_changes %}
{% if book_upd_changes %}
<div class="row dark-color" style="margin-bottom:2em;">
	<div class="col-md-5">
		<span class="book-title" style="font-size:1.8em;">Differences from Book at external link:</span>
		<form action="{{ url_for('apply_upd_changes', book_id=book.id) }}" method=post>
		<ul class="flash-messages">
		{% for col, change in book_upd_changes['normal'].items() %}
			{% if change %}
			{# dont need for=".." when input is inside label tag #}
			<li><label><input name="{{ col }}" class="mdb-checkboxes" type="checkbox" value="{{ change }}">{{ col }}: {{ change }}</label></li>
			{% endif %}
		{% endfor %}
		<li style="margin: 3px 0 5px 0;">Green - Added / Red - Removed</li>
		{% for col, change in book_upd_changes['added_removed'].items() %}
		<li><label><input name ="{{ col }}" class="mdb-checkboxes" type="checkbox" value="{{ change[0]|join(';') }};;;{{ change[1]|join(';') }}">{{ col }}: 
				{% if change[0] %}
					{% for added in change[0] %}
					<a class="book-tag green-color">{{ added }}</a>
					{% endfor %}
				{% endif %}
				{% if change[1] %}
					{% for removed in change[1] %}
					<a class="book-tag red-color">{{ removed }}</a>
					{% endfor %}
				{% endif %}
			</label></li>
		{% endfor %}
		<li><button type="submit" id="updateBtn" class="book-read-button button-stack green-color button-leftmost" style="margin-bottom: 3px;margin-top: 5px;"><i class="fas fa-check"></i><span style="margin-left: 5px;">Apply changes</span></button></li>
		</ul>
	</form>
	</div>
</div>
{% endif %}
{% endblock %}
{% block book_info %}
<div class="book-line">
<div class="book-info">Title</div>
<div class="book-data" id="Title">
	{{ book.title }}
</div>
</div>
<div class="book-line">
<div class="book-info">Pages</div>
<div class="book-data" id="Pages">
	{{ book.pages }}
</div>
</div>
<div class="book-line">
<div class="book-info">Status</div>
<div class="book-data" id="Status">
	{{ book.status }}
</div>
</div>
<div class="book-line">
<div class="book-info">My Rating</div>
<div class="book-data" id="MyRating">
	{% for n in range(5) %}
	{# check for my_rating being None and set all stars active as long as rating>n #}
	{# my_rating is float so convert to float #}
	{% if book.my_rating and (book.my_rating > n) %}
	<a href={{ url_for('rate_book', book_id=book.id, rating=n+1.0) }} title={{ n + 1 }}><i class="fa fa-star star-active"></i></a>
	{% else %}
	<a href={{ url_for('rate_book', book_id=book.id, rating=n+1.0) }} title={{ n + 1 }}><i class="fa fa-star star-inactive"></i></a>
	{% endif %}
	{% endfor %}
</div>
</div>
<div class="book-line">
<div class="book-info">Language</div>
<div class="book-data" id="Language">
	<a class="book-tag" href="{{ url_for('search_books', searchstring='language:\"' + book.language + '\"') }}">
	{{ book.language }}
	</a>
</div>
</div>
<div class="book-line">
<div class="book-info">Category</div>
<div class="book-data" id="Category">
{% for cat in book.category %}
<a class="book-tag" href="#">
	{{ cat }}
</a>
{% endfor %}
</div>
</div>
{% if book.collection %}
<div class="book-line">
<div class="book-info">Collection</div>
<div class="book-data" id="Collection">
{% for collection in book.collection %}
	<a class="book-tag" href="{{ url_for('search_books', searchstring='collection:\"' + collection + '\"') }}">
	{{ collection }}
	</a>
{% endfor %}
</div>
</div>
{% endif %}
{% if book.groups %}
	<div class="book-line">
	<div class="book-info">Group</div>
	<div class="book-data" id="Group">
		{% for group in book.groups %}
			<a class="book-tag" href="{{ url_for('search_books', searchstring='groups:\"' + group + '\"') }}">
				{{ group }}
			</a>
		{% endfor %}
	</div>
	</div>
{% endif %}
{% if book.artist %}
<div class="book-line">
<div class="book-info">Artist</div>
<div class="book-data" id="Artist">
	{% for artist in book.artist %}
		<a class="book-tag" href="{{ url_for('search_books', searchstring='artist:\"' + artist + '\"') }}">
			{{ artist }}
		</a>
	{% endfor %}
</div>
</div>
{% endif %}
{% if book.parody %}
	<div class="book-line">
	<div class="book-info">Parody</div>
	<div class="book-data" id="Parody">
	{% for parody in book.parody %}
		<a class="book-tag" href="#">
			{{ parody }}
		</a>
	{% endfor %}
	</div>
	</div>
{% endif %}
{% if book.character %}
	<div class="book-line">
	<div class="book-info">Character</div>
	<div class="book-data" id="Character">
		{% for char in book.character %}
			<a class="book-tag" href="{{ url_for('search_books', searchstring='character:\"' + char + '\"') }}">
				{{ char }}
			</a>
		{% endfor %}
	</div>
	</div>
{% endif %}
<div class="book-line">
<div class="book-info">Tag</div>
<div class="book-data" id="Tag">
	{% for tag in book.tag %}
		{# use get with /search?tagstring= (done by url_for) to search for tag on click #}
		<a class="book-tag" href="{{ url_for('search_books', searchstring='tags:\"' + tag + '\"') }}">
			{{ tag }}
		</a>
	{% endfor %}
</div>
</div>
<div class="book-line">
<div class="book-info">List</div>
<div class="book-data" id="List">
	{% for li in book.list %}
	<div class="book-tag list-tag list-tag-border">
                <a data-value="{{ li }}" href="{{ url_for('search_books', searchstring='list:\"' + li + '\"') }}">
			{{ li }}
  		</a>
		<a class="mdb-list-remove" data-value="{{ li }}" href="#">
				<i class="fas fa-times" style="vertical-align: middle;"></i>
			</a>
	</div>
	{% endfor %}
	<div id="list-dropdown-container" style="display:inline-block;">
	<a class="book-tag mdb-drop-btn list-tag-border" onclick="show_dropdown()">
		<i class="fas fa-plus mdb-drop-btn" style="font-size: 10px;"></i>
	</a>
	<div id="list-dropdown" class="mdb-dropdown-content">
		{% for li in lists %}
			{% if li not in book.list %}
			<a class="mdb-list-add" data-value="{{ li }}">{{ li }}</a>
			{% endif %}
		{% endfor %}
	</div>
	</div>
	<script>
		// dropdown script
		/* When the user clicks on the button, 
		toggle between hiding and showing the dropdown content */
		function show_dropdown() {
		    document.getElementById("list-dropdown").classList.toggle("mdb-show");
		}

		// Close the dropdown menu if the user clicks outside of it
		window.onclick = function(event) {
		  if (!event.target.matches('.mdb-drop-btn')) {

		    var dropdowns = document.getElementsByClassName("mdb-dropdown-content");
		    var i;
		    for (i = 0; i < dropdowns.length; i++) {
		      var openDropdown = dropdowns[i];
		      if (openDropdown.classList.contains('mdb-show')) {
			openDropdown.classList.remove('mdb-show');
		      }
		    }
		  }
		}
	</script>
	<script>
		// list add/remove script
		$(document).ready(function() {

			// add click event for all elements with .mdb-list-add class
			$('.mdb-list-add').click(function(event) {
				$.ajax({
					data : {
						// get target of click event and retrieve data
						// attribute -value
						name : $(event.target).data('value')
					},
					type : 'POST',
					url : "{{ url_for('list_action_ajax', book_id=book.id, action='add') }}",
					// let jquery know that flask is returning json data
					// (data in func below)
					dataType: "json",
				})
				.done(function(data) { // when prev function is done

					if (data.error) {
						console.log(data.error);
						//$('#errorAlert').text(data.error).show();
						//$('#successAlert').hide();
					}
					else {
						var html_string =[
						'<div class="book-tag list-tag list-tag-border"><a data-value="',
						data.added, '" href="',
						data.search_tag_url,
						'">', data.added,
						'</a><a class="mdb-list-remove" data-value="',
						data.added,
						'" href="#"><i class="fas fa-times" style="vertical-align: middle;"></i></a></div>'].join("");
						// add HTMLString to element with id List
						$('#List').append(html_string);
						// select all mdb-list-add options
						$('#list-dropdown-container .mdb-dropdown-content .mdb-list-add')
						// get the one that was added and remove it
						.filter(function () {
							return $(this).data("value") == data.added;
						}).remove();

						// get dropdown container and append it so the add
						// button is at the end again
						$('#List').append($('#list-dropdown-container'));
					}

				});

				event.preventDefault();

			});


			// add click event for all elements with .mdb-list-add class
			$('.mdb-list-remove').click(function(event) {
				// e.target is what triggers the event dispatcher to trigger and
				// e.currentTarget is what you assigned your listener to
				// here:
				// target: w.fn.init [i.fas.fa-times]
				// currentTarget: w.fn.init [a.mdb-list-remove]
				$.ajax({
					data : {
						// get target of click event and retrieve data
						// attribute -value
						name : $(event.currentTarget).data('value')
					},
					type : 'POST',
					url : "{{ url_for('list_action_ajax', book_id=book.id, action='remove') }}",
					// let jquery know that flask is returning json data
					// (data in func below)
					dataType: "json",
				})
				.done(function(data) { // when prev function is done

					if (data.error) {
						console.log(data.error);
						//$('#errorAlert').text(data.error).show();
						//$('#successAlert').hide();
					}
					else {
						// go through all a tags in vv
						$('#List > div.book-tag.list-tag.list-tag-border > a').each(function() {

							// if data-value attrib matches removed
							// remove its parent
							if($(this).data('value') == data.removed) {
								$(this.parentNode).remove();
							}
						
						});

						var add_option = '<a class="mdb-list-add" data-value="' + data.removed + '">' + data.removed + '</a>';
						// add removed list back to dropdown
						$('#list-dropdown-container .mdb-dropdown-content')
						.append(add_option);
					}

				});

				event.preventDefault();

			});

		});
	</script>
</div>
</div>
{% if book.note %}
<div class="book-line">
<div class="book-info">Note</div>
<div class="book-data" id="Note">
	{% for line in book.note.splitlines() %}
		{{ line }}<br />
	{% endfor %}
</div>
</div>
{% endif %}
<div class="book-line">
<div class="book-info"></div>
<div class="book-data" id="">
{% if book.favorite %}
<a href={{ url_for('set_favorite', book_id=book.id, fav_intbool=0) }} id="btnFavoriteHandler" class="book-read-button button-stack button-leftmost"><i class="fa fa-heart"></i> Favorited</a>
{% else %}
<a href={{ url_for('set_favorite', book_id=book.id, fav_intbool=1) }} id="btnFavoriteHandler" class="book-read-button button-stack button-leftmost dark-color"><i class="fa fa-plus"></i> Add to Favorites</a>
{% endif %}

<a href="{{ url_for('get_info_txt', book_id=book.id) }}" class="book-read-button button-stack red-color">
<i class="fas fa-file-alt"></i>
info.txt
</a>

<a href={{ url_for('show_edit_book', book_id=book.id) }} class="book-read-button button-stack red-color"><i class="fas fa-edit"></i> Edit</a>
<a href="/" id="backToIndex" class="book-read-button button-stack">
<i class="fa fa-home"> </i>
BACK TO INDEX
</a>
</div>
</div>
{% endblock %}
{% block ext_infos %}
<div style="margin: 1em 0;"></div>
{% for ext_info in book.ext_infos %}
{# loop.index is 1-based -> use loop.index0 for 0-based #}
{% if (loop.index0 % 2) == 0 %}
<div class="row row-no-margin">
{% endif %}
<div id="ext-info">
<div class="row row-no-margin">
	<div>
	<div class="ext-info-title" style="display:inline-block;"><a href="{{ ext_info.url }}">External Link on {{ ext_info.site|capitalize() }}</a></div>
	<div style="float:right;position:relative;top:5px;">Last Update: {{ ext_info.last_update }}</div>
<hr>
	</div>
</div>
<div class="col-md-6 ext-info-container" style="border-spacing: 3px;">
	<div class="ext-info-line">
	<div class="ext-info">Uploader</div>
	<div class="ext-info-data" id="Uploader">
		<a class="book-tag" href="#">
			{{ ext_info.uploader }}
		</a>
	</div>
	</div>
	<div class="ext-info-line">
	<div class="ext-info">Uploaded</div>
	<div class="ext-info-data" id="Uploaded">
		{{ ext_info.upload_date }}
	</div>
	</div>
	{% if ext_info.rating is not none %}
	<div class="ext-info-line">
	<div class="ext-info">Rating</div>
	<div class="ext-info-data" id="Rating">
		{{ ext_info.rating }} ({{ ext_info.ratings if ext_info.ratings else 'N/A'}} users / {{ ext_info.favorites if ext_info.favorites else 'N/A' }} favs)
	</div>
	</div>
	{% endif %}
	<div class="ext-info-line">
	<div class="ext-info">Censorship</div>
	<div class="ext-info-data" id="Censorship">
		{{ ext_info.censorship }}
	</div>
	</div>
</div> {# ext-info-container #}
	<div class="ext-info-data" id="">
		<a href={{ 'http://www.tsumino.com/Read/View/' ~ ext_info.id_onpage }} id="btnReadOnline" class="book-read-button button-stack">
		<i class="fa fa-arrow-circle-right"> </i>
		Read Online
		</a>

		{% if ext_info.downloaded %}
		<a href="{{ url_for('set_downloaded', book_id=book.id, ext_info_id=ext_info.id, intbool=0) }}" id="btnDownloadEntry" class="book-read-button button-stack green-color">
		<i class="fas fa-check-circle"> </i>
		Downloaded
		</a>
		{% else %}
		{# able to open this link in a tab and book will be marked as downloaded while the new tab will be redirected to the dl page, setting downloaded to 0 should be done using the list edits, since pressing the dl button can happen on accident to easily #}
		{# reload page when link is clicked (onclick=window.location.reload() ) so downloaded value gets updated -> but doesnt work when opened in new window, onclick=window.open(url, '_blank') [watch out that quotation marks get alternated etc.!] works but its a PopUp and has to be allowed first, but this is the only solution (with opening tsumino dl and displaying downloaded correctly) since just clicking and then going back after dl will also show old values (href to tsumino with _blank and reload -> flask wont get called at all) #}
		{# works with href zu tsumino dl and target _blank mit onclick by assigning window.location.href (url of the current page) which doesnt require PopUp-privileges -> assigning url to window.location.href=url =^ redirect to url => redirect current window to set_dl (downloaded get set and page will display correct vals) and by href _blank a new tab will be opened to tsumino dl page BUT this wont work with open new tab/middle mouse click then it will just open the tsumino dl page #}
		{# Ueber das Objekt location, das in der JavaScript-Objekthierarchie unterhalb des window-Objekts liegt, haben Sie Zugriff auf den vollstaendigen URI der aktuell angezeigten Web-Seite. Sie koennen den URI oder Teile davon zur Weiterverarbeitung abfragen und aendern. Beim Aendern fuehrt der Web-Browser einen Sprung zu einem neuen URI aus, genau so wie bei einem Verweis #}
		{# onclick="window.location.href={{..}}" wont work since url needs to be encased by quotation marks -> onclick="window.location.href='{{..}}'" (then also alternate quotation marks #}
		<a href="{{ "http://www.tsumino.com/Download/Index/" ~ ext_info.id_onpage }}" target="_blank" id="btnDownloadEntry" class="book-read-button button-stack red-color" onclick="window.location.href='{{ url_for("set_downloaded", book_id=book.id, ext_info_id=ext_info.id, intbool=1) }}'">
		<i class="fa fa-arrow-circle-right"> </i>
		Download on Tsumino
		</a>
		{% endif %}
		<a href="{{ url_for('update_book_ext_info', book_id=book.id, ext_info_id=ext_info.id) }}" class="book-read-button button-stack pink-color">
		<i class="fas fa-sync-alt"></i>
		Update Book
		</a>


</div>
</div>
{% if (loop.index0 % 2) == 0 %}
</div> {# row end #}
{% endif %}
{% endfor %}
{% endblock %}
{% block collections %}
{% if collections %}
<div style="margin: 1em 0;"></div>
{% for coll_name, info_rows in collections %}
	<div class="row">
	<div class="col-md-12">
	<div>
	<div style="display: inline-block;" class="book-title">Collection: {{ coll_name }}</div>
	<div style="display: inline-block;">
	View entries from the collection this entry belongs to (not ordered chronologically)
	</div>
	<hr>
	</div>
	<div class="col-md-12">
	<div class="book-collection-table">
	<div class="trow">
	{# <span class="theader">#</span> #}
	<span class="theader">Name</span>
	<span class="theader">Rating</span>
	<span class="theader">Pages</span>
	{# <span class="theader collection-position hidden">Position</span> #}
	</div>

	{% for row in info_rows %}
	<a href="{{ url_for('show_info', book_id=row.id) }}" class="trow {{ 'book-collection-is-me' if row.id == book.id else '' }}">
	{# <span class="tcell">1</span> #}
	<span class="tcell" width="100%">{{ row.title }}</span>
	{# cant use None in jinja have to use none (in-built function) #}
	<span class="tcell">{{ row.my_rating if row.my_rating is not none else 'Not rated' }} <span><i class="fa fa-star" aria-hidden="true"></i></span></span>
	<span class="tcell">{{ row.pages }}</span>
	{# <span class="tcell collection-position hidden">0</span> #}
	</a>
	{% endfor %}

	</div>
	</div> {# coll table div end #}
	</div>
	</div> {# row end #}
	<div class="row row-no-margin" style="margin-bottom: 1em;"></div>
{% endfor %}
{% endif %}
{% endblock %}
