{% extends "layout.html" %}

{% block head %}
{{ super() }}
<title>Register - MangaDB</title>
{% endblock %}

{% block body %}
<section class="section">
    <div class="container">
        <div class="columns">
            <div class="column is-5">
                <form id=login_user action="{{ url_for('auth.register') }}" method=post>
                    {{ csrf_token_field() }}
                    <h1 class="title">Register</h1>
                    <div class="field">
                        <div class="control">
                            <label class="lablel">Username: </label>
                            <input type=text class="input" name=username placeholder="Username" />
                        </div>
                    </div>
                    <div class="field">
                        <div class="control">
                            <label class="lablel">Password: </label>
                            <input type=password class="input" name=password placeholder="*****"/>
                        </div>
                    </div>
                    <div class="field">
                        <div class="control">
                            <button type=submit class="button green-color">
                                Register
                            </button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>
{% endblock %}
