a, h1, h2       { color: #fff; underline: none }
a               { text-decoration: none; }
h1, h2          { font-family: 'Open Sans',sans-serif; margin: 0; }
h1              { border-bottom: 2px solid #eee; }
h2              { font-size: 1.2em; }
h3              { color: #22a7f0; }
.search-tags input{ margin-bottom: 0 }

.page           { margin: 2em auto; width: 75%;
                  padding: 0.8em}
.search-tags input {

}
#srchIcon { display: inline !important; }
#searchBtn { color: #1a1a1a; display: table-cell; margin-left: 10px; margin-top: auto; margin-bottom: auto; padding: 6px; }
#txtSearch { width: 75%; }
/* grid with ul and li
ul {
  display: flex;
  flex-wrap: wrap;
  list-style-type: none;
  padding-left: 0;
  margin: 0 auto;
  text-align: center;
}

ul li {
  flex: 0 0 calc(50% - 10px);
  margin: 5px;
  padding: 5px 0;
  text-align: center;
  box-sizing: border-box;
  /*border: 1px dashed red;
  background-color: yellow;
  width: 200px;
} */
/* old container stuff by me now using tsumino css
.container  { width: 100%; margin: 1em 5px 0 5px }
.container-fluid {
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}
.col      { width: 16.66666667%; text-align: left; position:relative; float:left; }
*/

/* switch to 33.3% width under 1100px screen width, to 50% under 770px, didnt work without
    putting lower check inside higher one*/
/* old container stuff by me now using tsumino css
@media only screen
  and (max-device-width: 1100px),
  only screen and (max-width: 1100px) {
    .col      { width: 33.3333%; text-align: left; position:relative; float:left; }
    .container { position: relative; min-height: 1px; padding-right: 15px; padding-left: 15px; }
    @media only screen
  and (max-device-width: 770px),
  only screen and (max-width: 770px) {
    .col      { width: 50%; text-align: left; position:relative; float:left; }
}
}
*/

.book-grid-item a {
    color: #fff;
}
.book-grid-item a:hover, .book-grid-item a:focus {
    color: #fff;
}

/* 
    display: inline-block;*/
/* copied from tsumino css
.book-grid-item-container {
    width: 100%;
    padding-top: 145%;
    position: relative;
}
.book-grid-item { margin-right: 8px;
margin-bottom: 6px;
position: absolute;
top: 0;
left: 0;
right: 0;
bottom: 0; }
.book-grid-item-container .book-grid-item img {
    position: absolute;
    width: 100%;
    height: 100%;
}
.book-grid-item-container .book-grid-item .overlay {
    width: 100%;
    position: absolute;
    text-align: center;
    font-weight: bold;
    font-family: 'Open Sans',sans-serif;
    color: #fff;
    height: 100%;
    background: rgba(0,0,0,.5);
    opacity: 0;
    font-size: 24px;
}
*/
.book-grid-item-container:hover .book-grid-item{border:3px solid #22a7f0}
/* on tsumino without >a, since only view info (displayed on hover) is anchor to book */
.book-grid-item-container:hover .book-grid-item>a>.overlay{opacity:1;cursor:pointer}
.book-grid-item-container:hover .book-grid-item>a>.title{opacity:0}
/* copied over from tsumino css
.book-grid-item-container .book-grid-item .overlay .overlay-data {

    width: 100%;
    position: absolute;
    margin-top: 10px;

}
.book-grid-item-container .book-grid-item .overlay .overlay-data .overlay-title {

    text-align: center;
    top: 10px;

}
.book-grid-item-container .book-grid-item .overlay .overlay-data .overlay-sub {

    text-align: center;
    top: 5px;
    font-size: 12px;

}
.book-grid-item-container .book-grid-item .overlay .overlay-data .overlay-rate > span {

    color: #22a7f0;

}
.book-grid-item-container .book-grid-item .title {
    width: 100%;
    position: absolute;
    text-align: center;
    font-weight: bold;
    font-family: 'Open Sans',sans-serif;
    color: #fff;
    font-size: 12px;
    background: rgba(0,0,0,.75);
    bottom: 0;
    height: 30px;
    line-height: 30px;
    border-top: 3px solid #22a7f0;
} */
/* copied over from tsuminos css
.book-page-container {
    padding-top: 0;
    padding-bottom: 20px;
    float: none;
    margin: 0 auto;
    width: 100%;
    max-width: 1024px;
}
.row-no-margin {
    margin-left: 0 !important;
    margin-right: 0 !important;
}
.row {
    margin-right: -15px;
    margin-left: -15px;
}
.book-page-cover {
    width: 30%;
    margin: 0 auto;
}
.col-no-padding {
    padding-left: 0 !important;
    padding-right: 0 !important;
}
.col-md-1, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-10, .col-md-11, .col-md-12 {
    float: left;
}
.col-xs-1, .col-sm-1, .col-md-1, .col-lg-1, .col-xs-2, .col-sm-2, .col-md-2, .col-lg-2, .col-xs-3, .col-sm-3, .col-md-3, .col-lg-3, .col-xs-4, .col-sm-4, .col-md-4, .col-lg-4, .col-xs-5, .col-sm-5, .col-md-5, .col-lg-5, .col-xs-6, .col-sm-6, .col-md-6, .col-lg-6, .col-xs-7, .col-sm-7, .col-md-7, .col-lg-7, .col-xs-8, .col-sm-8, .col-md-8, .col-lg-8, .col-xs-9, .col-sm-9, .col-md-9, .col-lg-9, .col-xs-10, .col-sm-10, .col-md-10, .col-lg-10, .col-xs-11, .col-sm-11, .col-md-11, .col-lg-11, .col-xs-12, .col-sm-12, .col-md-12, .col-lg-12 {
    position: relative;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px;
}
.book-page-image {
    width: 100%;
}
.img-responsive, .thumbnail > img, .thumbnail a > img, .carousel-inner > .item > img, .carousel-inner > .item > a > img {
    display: block;
    max-width: 100%;
    height: auto;
}
@media only screen and (min-width: 970px)
.book-info-wrap {
    width: 69%;
}
.book-info-wrap {
    float: right;
    width: 100%;
}
@media only screen and (min-width: 768px)
.col-sm-12 {
    width: 100%;
}
@media only screen and (min-width: 768px)
.col-sm-1, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-10, .col-sm-11, .col-sm-12 {
    float: left;
}
.alt-bg {
    background-color: #1a1a1a;
}
.book-title {
    font-size: 28px;
    font-family: 'Open Sans',sans-serif;
    color: #fff;
}
.book-info-wrap .book-info-container {
    font-family: 'Open Sans',sans-serif;
    color: #fff;
    display: table;
    border-collapse: separate;
}
.book-info-wrap .book-info-container .book-line {
    display: table-row;
    vertical-align: middle;
}
.book-info-wrap .book-info-container .book-info, .book-info-wrap .book-info-container .book-data {
    display: table-cell;
}
.book-info-wrap .book-info-container .book-info {
    padding-right: 13px;
}
.book-info-wrap .book-info-container .book-info, .book-info-wrap .book-info-container .book-data {
    display: table-cell;
}
.book-tag {
    background-color: #333;
    color: #fff !important;
    font-family: 'Open Sans',sans-serif;
    font-size: 12px;
    font-weight: lighter;
    padding: 5px;
    height: 20px;
    line-height: 10px;
    margin-bottom: 5px;
    margin-right: 2px;
    text-decoration: none !important;
    display: inline-block;
}
.button-stack {
    margin: 5px;
    display: inline-block;
}
.book-read-button {
    background-color: #22a7f0;
    color: #fff !important;
    font-family: 'Open Sans',sans-serif;
    font-size: 14px;
    font-weight: bold;
    padding: 15px;
    cursor: pointer;
    text-decoration: none !important;
}
.dark-color {
    background-color: #1f1f1f !important;
}
.red-color {
    background-color: #c00 !important;
}
*/
.entries img    { width: 100% }
.entries li h2  { margin-left: -1em; }
.metanav        { text-align: right; font-size: 0.8em; padding: 0.3em;
                  margin-bottom: 1em; background: #1a1a1a; }
.flash          { background: #22a7f0; padding: 0.5em;
                  margin: 5px 0 1em  auto; 
                  color: #fff !important;
                  font-family: 'Open Sans',sans-serif;
                  font-size: 14px; }
.error          { background: #f0d6d6; padding: 0.5em; }
