{% extends "layout.html" %}
{% block body %}

<div id="rootContainer" class="container-fluid">
<div style="margin: 5px auto;"></div>
{% if book_info %}
<div class="book-page-container">
	<div class="row row-no-margin">
	<div class="book-page-cover col-md-2 col-sm-12 col-no-padding">
		<a href={{ book_info.url|safe }}>
		<img alt="{{ book_info.title }}" class="book-page-image img-responsive" src={{ url_for('thumb_static', filename=book_info.id_onpage) }}>
		</a>
	</div>
	<div class="col-md-8 col-sm-12 col-no-padding alt-bg book-info-wrap">
		<div class="row row-no-margin">
			<div class="book-title">{{ book_info.title }}</div>
		<hr>
		</div>
		<div class="book-info-container" style="border-spacing: 3px;">
		<div class="book-line">
		<div class="book-info">Title</div>
		<div class="book-data" id="Title">
			{{ book_info.title }}
		</div>
		</div>
		<div class="book-line">
		<div class="book-info">Uploader</div>
		<div class="book-data" id="Uploader">
		<a class="book-tag" href="#">
			{{ book_info.uploader }}
		</a>
		</div>
		</div>
		<div class="book-line">
		<div class="book-info">Uploaded</div>
		<div class="book-data" id="Uploaded">
			{{ book_info.upload_date }}
		</div>
		</div>
		<div class="book-line">
		<div class="book-info">Pages</div>
		<div class="book-data" id="Pages">
			{{ book_info.pages }}
		</div>
		</div>
		<div class="book-line">
		<div class="book-info">Rating</div>
		<div class="book-data" id="Rating">
			{{ book_info.rating_full }}
		</div>
	</div>
	<div class="book-line">
	<div class="book-info">My Rating</div>
	<div class="book-data" id="MyRating">
		{% for n in range(5) %}
		{# check for my_rating being None and set all stars active as long as rating>n #}
		{% if book_info.my_rating and (book_info.my_rating > n) %}
		<a href={{ url_for('rate_book_internal', book_id_internal=book_info.id, rating=n+1) }} title={{ n + 1 }}><i class="fa fa-star star-active"></i></a>
		{% else %}
		<a href={{ url_for('rate_book_internal', book_id_internal=book_info.id, rating=n+1) }} title={{ n + 1 }}><i class="fa fa-star star-inactive"></i></a>
		{% endif %}
		{% endfor %}
	</div>
	</div>
	<div class="book-line">
	<div class="book-info">Category</div>
	<div class="book-data" id="Category">
	<a class="book-tag" href="#">
		{{ book_info.category }}
	</a>
	</div>
	</div>
	{% if book_info.collection %}
		<div class="book-line">
		<div class="book-info">Collection</div>
		<div class="book-data" id="Collection">
		<a class="book-tag" href="#">
			{{ book_info.collection }}
		</a>
		</div>
		</div>
	{% endif %}
	{% if book_info.groups %}
		<div class="book-line">
		<div class="book-info">Group</div>
		<div class="book-data" id="Group">
			{% for group in book_info.groups.split(",") %}
				<a class="book-tag" href="#">
					{{ group }}
				</a>
			{% endfor %}
		</div>
		</div>
	{% endif %}
	{% if book_info.arist %}
	<div class="book-line">
	<div class="book-info">Artist</div>
	<div class="book-data" id="Artist">
		{% for artist in book_info.artist.split(",") %}
			<a class="book-tag" href="#">
				{{ artist }}
			</a>
		{% endfor %}
	</div>
	</div>
	{% endif %}
	{% if book_info.parody %}
		<div class="book-line">
		<div class="book-info">Parody</div>
		<div class="book-data" id="Parody">
		<a class="book-tag" href="#">
			{{ book_info.parody }}
		</a>
		</div>
		</div>
	{% endif %}
	{% if book_info.character %}
		<div class="book-line">
		<div class="book-info">Character</div>
		<div class="book-data" id="Character">
			{% for char in book_info.character.split(",") %}
				<a class="book-tag" href="#">
					{{ char }}
				</a>
			{% endfor %}
		</div>
		</div>
	{% endif %}
	<div class="book-line">
	<div class="book-info">Tag</div>
	<div class="book-data" id="Tag">
		{% for tag in tags %}
			{# use get with /search?tagstring= (done by url_for) to search for tag on click #}
			<a class="book-tag" href="{{ url_for('search_books', tagstring=tag) }}">
				{{ tag }}
			</a>
		{% endfor %}
	</div>
	</div>
	<div class="book-line">
	<div class="book-info"></div>
	<div class="book-data" id="">
	<a href={{ 'http://www.tsumino.com/Read/View/' ~ book_info.id_onpage }} id="btnReadOnline" class="book-read-button button-stack">
	<i class="fa fa-arrow-circle-right"> </i>
	Read Online
	</a>

	{% if favorite %}
	<a href={{ url_for('remove_book_favorite', book_id_internal=book_info.id) }} id="btnFavoriteHandler" class="book-read-button button-stack" data-get="/Book/GetFavorite/36122" data-add="/Book/AddFavorite/36122" data-remove="/Book/RemoveFavorite/36122"><i class="fa fa-heart"></i> Favorited</a>
	{% else %}
	<a href={{ url_for('add_book_favorite', book_id_internal=book_info.id) }} id="btnFavoriteHandler" class="book-read-button button-stack dark-color"><i class="fa fa-plus"></i> Add to Favorite</a>
	{% endif %}

	<a href={{ 'http://www.tsumino.com/Download/Index/' ~ book_info.id_onpage }} id="btnDownloadEntry" class="book-read-button button-stack red-color">
	<i class="fa fa-arrow-circle-right"> </i>
	Download on Tsumino
	</a>

	<a href="{{ url_for('update_book_by_id_onpage', book_id_onpage=book_info.id_onpage) }}" class="book-read-button button-stack green-color">
	<i class="fas fa-sync-alt"></i>
	Update Book
	</a>

	<a href="{{ url_for('write_info_txt_by_id', book_id_internal=book_info.id) }}" class="book-read-button button-stack red-color">
	<i class="fas fa-file-alt"></i>
	Write info.txt
	</a>

	<a href="/" id="backToIndex" class="book-read-button button-stack">
	<i class="fa fa-home"> </i>
	BACK TO INDEX
	</a>
	</div>
	</div>
</div>
</div>
</div> {# row end #}
<div class="row row-no-margin"></div>

<div class="row">
<div class="col-md-12">
<div>
<div style="display: inline-block;" class="book-title">Lists</div>
<div style="display: inline-block;">
Update Lists here!
</div>
<div style="float:right;position:relative;top:15px;">Last Change: {{ book_info.last_change }}</div>
<hr>
</div>
<form action={{ url_for('set_lists_book') }} method=post>
<ul class="multiselect-container" id="mangaDBLists">
	{# use hidden input field with value set to id to get id through POST #}
	<input type="hidden" name="book_id_internal" value={{ book_info.id }}>
	{% for li, book_on_list in lists_book.items() %}
	<li>
	<label class="lists-label">
	{# pre-check checkbox if book is on that list with checked attribue #}
	{# values for name that contain spaces get cut off, starting a new attribute after whitespace -> wrap {{}} with "" to prevent that (thought this was done automatically but that wasnt the case) #}
	<input name="{{ li }}" type="checkbox" {{ 'checked' if book_on_list else '' }}> {{ li[3:] }}
	</label>
	</li>
	{% else %}
	No Lists available!
	{% endfor %}
</ul>
<div>
	<button type="submit" id="updateBtn" class="book-read-button button-stack red-color"><i class="fa fa-pencil-alt"> </i><spanc style="margin-left: 5px;">Edit</span></button>
</div>
</form>
</div>
</div> {# row end #}

</div>
{% else %}
<div class="book-title">No book with {{ error_msg }} in DB!</div>
{% endif %}
</div>

{% endblock %}
