{% extends "layout.html" %}
{% block body %}
<div class="row search-all">
<div class="search-text col-md-6 col-sm-12">
<div class="button-container" id="simple-container">
    <form action="{{ url_for('search_books') }}" method=post class="search-tags">
	<i class="button-expand-icon fa fa-search" id="srchIcon"></i>
	{% if search_field %}
	{# search_field will be set if we already searched -> set searchstring as value of searchfield so usr knows what search result is displayed #}
	<input value={{ search_field }} type=text name=tagstring class="data-search" id="txtSearch">
	{% else %}
        <input type=text name=tagstring class="data-search" id="txtSearch">
	{% endif %}
	<input type=submit value=Search id="searchBtn" class="book-read-button button-stack">
    </form>
</div>
</div>
</div>
<div style="margin: 10px auto;"></div>

<div class="row">
<div class="col-md-12">
<div id="foundBooks">
<div id="foundBooksWrapper">
<div id="foundBooksInner">
    {% for entry in entries %}
    <div class="col-md-2 col-sm-4 col-xs-6 col-no-padding">
    <div class="book-grid-item-container">
    <div class="book-grid-item">

    <a href={{ entry.url|safe }}>
	    {# To reduce the amount of request you can use data uri images as the placeholder. #}
    <img src="data:image/gif;base64,R0lGODdhAQABAPAAAMPDwwAAACwAAAAAAQABAAACAkQBADs=" data-src={{ url_for('thumb_static', filename=entry.id_onpage) }} class="lazyload">
    <div class="overlay">
        <div class="overlay-data">
            <div class="overlay-title">
                {{ entry.title }}
            </div>
            <div class="overlay-sub">
                {{ entry.pages }} pages
            </div>
            <div class="overlay-rate">
                {# To cast to a string in an expression, you use x|string() instead of str(x) #}
                {% for _ in range( entry.rating|int() ) %}
                {# &#9733; would also works but looks better with Fontawesome #}
                <span class="fa fa-star"></span>
                {% endfor %}
            </div>
        </div>
	<a href={{ url_for('show_book_info', book_id_internal=entry.id) }}  class="set-backToIndex overlay-button status-none">
                        VIEW INFO
        </a>
    </div>
    <div class="title status-none">
    <span class="title-text">{{ entry.title_eng }}</span>
    </div>
    </a>

    </div>
    </div>
    </div>
    
  {% else %}
    <em>Unbelievable.  No entries here so far</em>
  {% endfor %}
  </div>
</div>
</div>
</div>
</div>
  {# only started working once placed at end of website or at least after imgs? #}
  <script type="text/javascript">lazyload();</script>

{% endblock %}
